edit-members.html
<!DOCTYPE html><!--[if IE 8]>
<html lang="en-US" class="no-js lt-ie9">
<![endif]-->
<!--[if IE 9]>
<html lang="en-US" class="no-js ie9">
<![endif]-->
<html lang="en-US" ng-app="myApp" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="favicon/favicon.ico" type="web/image/pngIllegal return statement">
    <title></title>
    <meta name="description">
    <meta name="keywords">
    <meta name="copyright">
    <!-- bower_components__styles-->
    <link href="bower_components/ng-grid-bower/ng-grid.min.css" rel="stylesheet">
    <link href="bower_components/ngDialog/css/ngDialog.min.css" rel="stylesheet">
    <link href="bower_components/ngDialog/css/ngDialog-theme-default.min.css" rel="stylesheet">
    <link href="bower_components/ngDialog/css/ngDialog-theme-plain.min.css" rel="stylesheet">
    <!-- end bower_components__styles-->
    <!-- main__styles-->
    <link href="css/ng-grid.css" rel="stylesheet">
    <link href="css/ng-tags-input-custom.css" rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/css/bootstrap-select.min.css">
    <link href="css/style.css" rel="stylesheet">
    <!-- end  main__styles-->
    <!-- bower_components__js-->
    <script src="bower_components/modernizr/modernizr.js"></script>
    <script src="bower_components/respond/dest/respond.min.js"></script>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/ng-grid-bower/ng-grid.debug.js"></script>
    <script src="bower_components/ng-tags-input/ng-tags-input.js"></script>
    <script src="bower_components/ngDialog/js/ngDialog.min.js"></script>
    <script src="bower_components/ng-file-upload/ng-file-upload-all.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/js/bootstrap-select.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="bower_components/jcf/js/jcf.js"></script>
    <script src="bower_components/jcf/js/jcf.select.js"></script>
    <!-- end bower_components__js-->
    <!-- main__js-->
    <script src="js/main.js"></script>
    <!-- end main__js-->
    <script src="js/ng-members.js"></script>
  </head>
  <body ng-controller="MyCtrl" class="desktop-detected">
    <!-- Header-->
    <header class="main-header js-header__ht">
      <div class="navbar-top clearfix">
        <div class="container">
          <div class="row">
            <div class="col-xs-6"><a id="menu-toggle" href="#menu-toggle" class="sb-toggle-left">
                <div class="menu_icon">
                  <div class="navicon-line"></div>
                  <div class="navicon-line"></div>
                  <div class="navicon-line"></div>
                </div></a>
              <h1 class="logo-wrapper"><a href="index.html" class="logo"><img src="img/logo.png" alt="" class="img-responsive"></a></h1>
            </div>
            <div class="col-xs-6 authorisation__menu">
              <div class="authorisation__menu_authorised">
                <div class="user-alerts-wr">
                  <div class="dropdown user-alerts__dropdown"><a data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false" class="icon i-bell i-bell_empty"></a>
                    <div role="menu" aria-labelledby="dLabel" data-toggle="no-collapse" class="dropdown-menu user-alerts__menu">
                      <div class="notifications_dd">notifications</div>
                      <ul>
                        <li role="alert" class="alert fade in">
                          <button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true">&times;</span></button>
                          <p class="alert__massage-error">Payment Error - Account No. 647885900</p>
                        </li>
                        <li role="alert" class="alert fade in">
                          <button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true">&times;</span></button>
                          <p class="alert__massage-edded">New payment was added.</p>
                        </li>
                        <li role="alert" class="alert fade in">
                          <button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true">&times;</span></button>
                          <p class="alert__massage-approved">Payment No.123456 is approved.</p>
                        </li>
                        <li role="alert" class="alert fade in">
                          <button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true">&times;</span></button>
                          <p class="alert__massage-approved">Your password was recently updated. Please complete your security questions.</p>
                        </li>
                      </ul>
                    </div>
                  </div><span class="badge alert-count">46</span>
                </div>
                <div class="user-avatar-wr"><a href="" class="user-avatar"><img src="img/no-user-photo.png" alt=""></a>
                  <div class="user-status user-status_avatar"></div>
                </div>
                <div class="dropdown user-dropdown"><a id="dLabel" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false" class="user-dropdown__btn"><span class="user-name">James K.</span><span class="icon i-arrow-bottom user-dropdown__carret"></span></a>
                  <div role="menu" aria-labelledby="dLabel" class="dropdown-menu user-dropdown__menu">
                    <div class="dropdown__user-status"><a href="">
                        <div class="user-status user-status_dd"></div>Account Verification</a></div>
                    <ul>
                      <li><a href="company-details.html"><i class="icon i-company-information"></i>Company Information</a></li>
                      <li><a href="company-details.html"><i class="icon i-contact-person"></i>Contact Person</a></li>
                      <li><a href="company-details.html"><i class="icon i-change-password"></i>Change Password</a></li>
                      <li><a href="company-details.html"><i class="icon i-log-out-i"></i>Log Out</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- end Header-->
    <!-- #page-content-wrapper-->
    <div id="page-content-wrapper">
      <!-- Sidebar-->
      <aside id="sidebar-wrapper">
        <nav>
          <ul class="sidebar-nav">
            <li><a href="profile.html"><span class="icon"><span class="profile-img__wr"><img src="img/profil-img.png" alt="">
                    <div class="user-status user-status_avatar user-status_new-reg"></div></span></span>James K</a></li>
            <li><a href="index.html"><i class="icon i-dash-i"></i>dashboard</a></li>
            <li><a href="companies.html"><i class="icon i-companies-i"></i>Companies</a></li>
            <li class="active"><a href="members.html"><i class="icon i-people"></i>Members</a></li>
            <li><a href="payout.html"><i class="icon i-coin"></i>Payroll</a></li>
            <li><a href="reports.html"><i class="icon i-reporters-i"></i>Reports</a></li>
            <li><a href="support.html"><i class="icon i-support-i"></i>Support</a></li>
          </ul>
        </nav>
      </aside>
      <!-- end Sidebar-->
      <!-- Main content-->
      <main class="main-content js-minHt js-Ht">
        <div class="container">
          <div class="row">
            <div class="col-sm-6">
              <h2 class="page-title">Edit Members</h2>
            </div>
            <div class="col-sm-6">
              <div class="btn-group_horizontal btn-group_right">
                <button type="button" data-toggle="modal" data-target="#inviteMembersModal" class="btn btn-primary"><i class="icon i-arrow-left">&nbsp;</i>MEMBERS</button>
              </div>
            </div>
          </div>
          <div class="min-section min-section__br-bg min-section__pd">
            <div class="main-filter-block">
              <form class="form-horizontal">
                <div class="row">
                  <div class="col-lg-3">
                    <div class="form-group">
                      <div class="col-lg-12">
                        <div class="main-filter-block__counter">First name: <strong>Chang</strong></div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-lg-12">
                        <div class="main-filter-block__counter"> Last name: <strong>Caskey</strong></div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3">
                    <div class="form-group">
                      <label class="control-label col-lg-3">Number:</label>
                      <div class="col-lg-9">
                        <input type="text" value="192.168.0.016" class="form-control">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-lg-3">Reference:</label>
                      <div class="col-lg-9">
                        <select class="form-control">
                          <option>Active</option>
                          <option>Active</option>
                          <option>Active</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3">
                    <div class="form-group">
                      <div class="col-lg-12">
                        <div class="main-filter-block__counter">Email: <strong>example@mail.com</strong></div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-lg-12">
                        <div class="main-filter-block__counter"> Contact No: <strong>1-542-754-3010</strong></div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3">
                    <div class="form-group">
                      <div class="col-lg-12">
                        <div class="main-filter-block__counter">Country: <strong>Cyprus</strong></div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-lg-12">
                        <div class="main-filter-block__counter">Date of Birth: <strong>21/12/1980</strong></div>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="row">
              <div class="col-xs-12 min-section">
                <h4 class="min-title">Payout History</h4>
                <div ng-grid="gridOptions4" class="gridStyle"></div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-7">
                <div class="total-groups"><span class="one-totla">Total transaction: <strong>25</strong></span><span class="one-totla">Total amount: <strong>$12,484.00</strong></span></div>
              </div>
              <div class="col-sm-5">
                <div class="btn-group_horizontal btn-group_right">
                  <button type="button" class="btn btn-primary">Save</button><a href="payout.html" type="button" class="btn btn-default">Cancel</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
      <!-- end main Content-->
      <!-- Footer-->
      <footer class="main-footer clearfix js-footer__ht">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 copyright-block">
              <p class="copyright-block__text">&copy; 2015 Prego uPay. All Rights Reseved</p>
            </div>
            <div class="col-sm-6">
              <ul class="footer-nav">
                <li class="footer-nav__li"><a href="" class="footer-nav__link">Support</a></li>
                <li class="footer-nav__li"><a href="" class="footer-nav__link">Terms of Use</a></li>
                <li class="footer-nav__li"><a href="" class="footer-nav__link">Contact</a></li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
      <!-- end Footer-->
    </div>
    <!-- end #page-content-wrapper-->
  </body>
</html>

templates/pages/edit-members.jade
extends ../layouts/default

block head
- pageTitle = 'Prego Mempers';

block link
  -var selected = 'members';

block ng
  - var ngApp = "myApp";
  - var ngController = "MyCtrl";

block append js
  script(src='js/ng-members.js')

block content
  .container
    .row
      .col-sm-6
        h2.page-title Edit Members
      .col-sm-6
        .btn-group_horizontal.btn-group_right
          button.btn.btn-primary(type='button', data-toggle='modal', data-target='#inviteMembersModal')
            i.icon.i-arrow-left &nbsp;
            | MEMBERS
    .min-section.min-section__br-bg.min-section__pd
      .main-filter-block
        form.form-horizontal
          .row
            .col-lg-3
              .form-group
                .col-lg-12
                  .main-filter-block__counter
                    | First name: 
                    strong Chang
              .form-group
                .col-lg-12
                  .main-filter-block__counter
                    |  Last name: 
                    strong Caskey
            .col-lg-3
              .form-group
                label.control-label.col-lg-3 Number:
                .col-lg-9
                  input(type="text", value="192.168.0.016").form-control
              .form-group
                label.control-label.col-lg-3 Reference:
                .col-lg-9
                  select.form-control
                    option Active
                    option Active
                    option Active
            .col-lg-3
              .form-group
                .col-lg-12
                  .main-filter-block__counter
                    | Email: 
                    strong example@mail.com
              .form-group
                .col-lg-12
                  .main-filter-block__counter
                    |  Contact No: 
                    strong 1-542-754-3010
            .col-lg-3
              .form-group
                .col-lg-12
                  .main-filter-block__counter
                    | Country: 
                    strong Cyprus
              .form-group
                .col-lg-12
                  .main-filter-block__counter
                    | Date of Birth: 
                    strong 21/12/1980
      .row
        .col-xs-12.min-section
          h4.min-title Payout History
          .gridStyle(ng-grid="gridOptions4")
      .row
        .col-sm-7
          .total-groups
            span.one-totla
              | Total transaction: 
              strong 25
            span.one-totla
              | Total amount: 
              strong $12,484.00
        .col-sm-5
          .btn-group_horizontal.btn-group_right
              button.btn.btn-primary(type='button')
                | Save
              a(href="payout.html").btn.btn-default(type='button')
                | Cancel
