index.html
<!DOCTYPE html><!--[if IE 8]>
<html lang="en-US" class="no-js lt-ie9">
<![endif]-->
<!--[if IE 9]>
<html lang="en-US" class="no-js ie9">
<![endif]-->
<html lang="en-US" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="favicon/favicon.ico" type="web/image/pngIllegal return statement">
    <title></title>
    <meta name="description">
    <meta name="keywords">
    <meta name="copyright">
    <!-- bower_components__styles-->
    <link href="bower_components/ng-grid-bower/ng-grid.min.css" rel="stylesheet">
    <link href="bower_components/ngDialog/css/ngDialog.min.css" rel="stylesheet">
    <link href="bower_components/ngDialog/css/ngDialog-theme-default.min.css" rel="stylesheet">
    <link href="bower_components/ngDialog/css/ngDialog-theme-plain.min.css" rel="stylesheet">
    <!-- end bower_components__styles-->
    <!-- main__styles-->
    <link href="css/ng-grid.css" rel="stylesheet">
    <link href="css/ng-tags-input-custom.css" rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/css/bootstrap-select.min.css">
    <link href="css/style.css" rel="stylesheet">
    <!-- end  main__styles-->
    <!-- bower_components__js-->
    <script src="bower_components/modernizr/modernizr.js"></script>
    <script src="bower_components/respond/dest/respond.min.js"></script>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/ng-grid-bower/ng-grid.debug.js"></script>
    <script src="bower_components/ng-tags-input/ng-tags-input.js"></script>
    <script src="bower_components/ngDialog/js/ngDialog.min.js"></script>
    <script src="bower_components/ng-file-upload/ng-file-upload-all.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/js/bootstrap-select.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="bower_components/jcf/js/jcf.js"></script>
    <script src="bower_components/jcf/js/jcf.select.js"></script>
    <!-- end bower_components__js-->
    <!-- main__js-->
    <script src="js/main.js"></script>
    <!-- end main__js-->
  </head>
  <body class="desktop-detected">
    <!-- Header-->
    <header class="main-header js-header__ht">
      <div class="navbar-top clearfix">
        <div class="container">
          <div class="row">
            <div class="col-xs-6"><a id="menu-toggle" href="#menu-toggle" class="sb-toggle-left">
                <div class="menu_icon">
                  <div class="navicon-line"></div>
                  <div class="navicon-line"></div>
                  <div class="navicon-line"></div>
                </div></a>
              <h1 class="logo-wrapper"><a href="index.html" class="logo"><img src="img/logo.png" alt="" class="img-responsive"></a></h1>
            </div>
            <div class="col-xs-6 authorisation__menu">
              <div class="authorisation__menu_authorised">
                <div class="user-alerts-wr">
                  <div class="dropdown user-alerts__dropdown"><a data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false" class="icon i-bell i-bell_empty"></a>
                    <div role="menu" aria-labelledby="dLabel" data-toggle="no-collapse" class="dropdown-menu user-alerts__menu">
                      <div class="notifications_dd">notifications</div>
                      <ul>
                        <li role="alert" class="alert fade in">
                          <button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true">&times;</span></button>
                          <p class="alert__massage-error">Payment Error - Account No. 647885900</p>
                        </li>
                        <li role="alert" class="alert fade in">
                          <button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true">&times;</span></button>
                          <p class="alert__massage-edded">New payment was added.</p>
                        </li>
                        <li role="alert" class="alert fade in">
                          <button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true">&times;</span></button>
                          <p class="alert__massage-approved">Payment No.123456 is approved.</p>
                        </li>
                        <li role="alert" class="alert fade in">
                          <button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true">&times;</span></button>
                          <p class="alert__massage-approved">Your password was recently updated. Please complete your security questions.</p>
                        </li>
                      </ul>
                    </div>
                  </div><span class="badge alert-count">46</span>
                </div>
                <div class="user-avatar-wr"><a href="" class="user-avatar"><img src="img/no-user-photo.png" alt=""></a>
                  <div class="user-status user-status_avatar"></div>
                </div>
                <div class="dropdown user-dropdown"><a id="dLabel" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false" class="user-dropdown__btn"><span class="user-name">James K.</span><span class="icon i-arrow-bottom user-dropdown__carret"></span></a>
                  <div role="menu" aria-labelledby="dLabel" class="dropdown-menu user-dropdown__menu">
                    <div class="dropdown__user-status"><a href="">
                        <div class="user-status user-status_dd"></div>Account Verification</a></div>
                    <ul>
                      <li><a href="company-details.html"><i class="icon i-company-information"></i>Company Information</a></li>
                      <li><a href="company-details.html"><i class="icon i-contact-person"></i>Contact Person</a></li>
                      <li><a href="company-details.html"><i class="icon i-change-password"></i>Change Password</a></li>
                      <li><a href="company-details.html"><i class="icon i-log-out-i"></i>Log Out</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- end Header-->
    <!-- #page-content-wrapper-->
    <div id="page-content-wrapper">
      <!-- Sidebar-->
      <aside id="sidebar-wrapper">
        <nav>
          <ul class="sidebar-nav">
            <li><a href="profile.html"><span class="icon"><span class="profile-img__wr"><img src="img/profil-img.png" alt="">
                    <div class="user-status user-status_avatar user-status_new-reg"></div></span></span>James K</a></li>
            <li class="active"><a href="index.html"><i class="icon i-dash-i"></i>dashboard</a></li>
            <li><a href="companies.html"><i class="icon i-companies-i"></i>Companies</a></li>
            <li><a href="members.html"><i class="icon i-people"></i>Members</a></li>
            <li><a href="payout.html"><i class="icon i-coin"></i>Payroll</a></li>
            <li><a href="reports.html"><i class="icon i-reporters-i"></i>Reports</a></li>
            <li><a href="support.html"><i class="icon i-support-i"></i>Support</a></li>
          </ul>
        </nav>
      </aside>
      <!-- end Sidebar-->
      <!-- Main content-->
      <main class="main-content js-minHt js-Ht">
        <div class="container loader-bg">
          <!--.loader-wr.loader-wr_sb.js-minHt
          .loader-2
            img(src="img/loader.svg", alt="")
          
          -->
          <h2 class="page-title">Dashboard</h2>
          <div class="row">
            <div class="col-md-4">
              <div class="min-section min-section__br-bg min-section__br-bg_info min-section__pd info-dash-couner-block">
                <h3 class="statistics__title"><span class="main-counter__icon-wr"><i class="icon i-dollars"></i></span>balance</h3>
                <div class="main-counter__text-wr">
                  <div class="main-counter__number"><span>USD </span>$14,050.30</div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="min-section min-section__br-bg min-section__br-bg_info min-section__pd info-dash-couner-block">
                <h3 class="statistics__title"><span class="main-counter__icon-wr"><i class="icon i-people"></i></span>members</h3>
                <div class="main-counter__text-wr">
                  <div class="statistics__general-information"><span class="statistics__general-information-label">Join Requests:</span><span class="statistics__general-information-value">4</span></div>
                  <div class="main-counter__number">329</div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="min-section min-section__br-bg min-section__br-bg_info min-section__pd info-dash-couner-block">
                <h3 class="statistics__title"><span class="main-counter__icon-wr"><i class="icon i-reporters-i"></i></span>payrolls</h3>
                <div class="main-counter__text-wr">
                  <div class="statistics__general-information"><span class="statistics__general-information-label">Latest:</span><span class="statistics__general-information-value">16/06/ 2015</span></div>
                  <div class="main-counter__number">56</div>
                </div>
              </div>
            </div>
          </div>
          <section role="alert" class="info-block min-section min-section__br-bg min-section__pd clearfix alert fade in">
            <div class="section_btn-bottomm-right-wr">
              <button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true">&times;</span></button>
              <header class="min-section__header">
                <h3 class="min-section__title">WELCOME TO YOUR DASHBOARD</h3>
              </header>
              <div class="row">
                <div class="col-lg-10">
                  <div class="info-block__text">
                    <p>With this Portal you will be able to manage and make easy payroll within your Company.  You can manage all your members and create and upload payroll lists for an easy one time payroll for all. </p>
                    <p>Take a moment to understand how this portal works, we will guide you with instructions trough out the Portal for you to have a better performance. Start now.</p>
                  </div>
                </div>
              </div><a href="" class="btn btn-primary btn_bottom-right">i understand</a>
            </div>
          </section>
          <div class="row dysplay-tb">
            <div class="col-md-7 col-lg-8 dysplay-tb-c dysplay-tb-c-l">
              
              <section class="min-section min-section__br-bg min-section__pd monthly-payment__section clearfix">
                <div class="chart__wr section_btn-bottomm-right-wr">
                  <header class="min-section__header">
                    <h3 class="min-section__title">MEMBERS</h3>
                  </header>
                  <div class="row">
                    <div class="col-md-6 col-lg-5">
                      <div class="chart__info">
                        <div class="chart__info-col chart__info-col-1">
                          <div class="chart__info-col-label chart__color-info">active</div>
                          <div class="chart__info-col-value">300</div>
                        </div>
                        <div class="chart__info-col chart__info-col-2">
                          <div class="chart__info-col-label chart__color-danger">inactive</div>
                          <div class="chart__info-col-value">81</div>
                        </div>
                        <div class="chart__info-col chart__info-col-3">
                          <div class="chart__info-col-label chart__color-primary">join requests</div>
                          <div class="chart__info-col-value">29</div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4 col-md-offset-2 total-chart_wr">
                      <div class="chart__total-label">TOTAL MEMBERS</div>
                      <div class="chart__total-value">329</div>
                    </div>
                  </div>
                </div>
              </section>
              <section class="min-section min-section__br-bg min-section__pd monthly-payment__section clearfix loader-bg">
                <div class="loader-wr">
                  <div class="loader-2 loader-2_min"><img src="img/loader.svg" alt="" width="40" height="40"></div>
                </div>
                <div class="chart__wr section_btn-bottomm-right-wr">
                  <header class="min-section__header">
                    <h3 class="min-section__title min-section__title_load-show">PAYROLL</h3>
                  </header>
                  <div class="row">
                    <div class="col-md-6 col-lg-5">
                      <div class="chart__info">
                        <div class="chart__info-col chart__info-col-1">
                          <div class="chart__info-col-label chart__color-info">complened</div>
                          <div class="chart__info-col-value">542</div>
                        </div>
                        <div class="chart__info-col chart__info-col-2">
                          <div class="chart__info-col-label chart__color-danger">failed</div>
                          <div class="chart__info-col-value">54</div>
                        </div>
                        <div class="chart__info-col chart__info-col-3">
                          <div class="chart__info-col-label chart__color-primary">draft</div>
                          <div class="chart__info-col-value">5</div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4 col-md-offset-2 total-chart_wr">
                      <div class="chart__total-label">TOTAL PAYROLL</div>
                      <div class="chart__total-value">601</div>
                    </div>
                  </div>
                </div>
              </section>
              <div class="row">
                <div class="col-sm-4 min-section"><a href="send-money.html" class="btn btn-lg btn-block btn-primary">send invitation</a></div>
                <div class="col-sm-4 min-section"><a href="" class="btn btn-lg btn-block btn-primary">join requests</a></div>
                <div class="col-sm-4 min-section"><a href="" class="btn btn-lg btn-block btn-primary">make payroll</a></div>
              </div>
              <section class="min-section min-section__br-bg min-section__pd">
                <header class="min-section__header">
                  <h3 class="min-section__title">LATEST TRANSACTIONS</h3>
                </header>
                <div class="min-section__content-wr">
                  <div class="min-section min-section__br-bg min-section__pd">
                    <div class="row">
                      <div class="col-sm-5">
                        <div class="item__text">Payout From CX5YN001</div>
                      </div>
                      <div class="col-sm-7">
                        <div class="item__text item__text_right">$890.00</div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-5">
                        <div class="item__text item__text_min item__text_mg-top">01.07.2015 12:34:55</div>
                      </div>
                      <div class="col-sm-7">
                        <div class="item__text item__text_right item__text_min item__text_mg-top">Ref. No 234234234</div>
                      </div>
                    </div>
                  </div>
                  <div class="min-section min-section__br-bg min-section__pd">
                    <div class="row">
                      <div class="col-sm-5">
                        <div class="item__text">Expires 14/17</div>
                      </div>
                      <div class="col-sm-7">
                        <div class="item__text item__text_right">Balance: <span>USD $35,050.03</span></div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-5">
                        <div class="item__text item__text_min item__text_mg-top">01.07.2015 12:34:55</div>
                      </div>
                      <div class="col-sm-7">
                        <div class="item__text item__text_right item__text_min item__text_mg-top">Ref. No 234234234</div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>
            <div class="col-md-5 col-lg-4 news-and-updates__block dysplay-tb-c dysplay-tb-c-r min-section__br-bg_primary-light">
              <section class="min-section__pd section-z-index">
                <header class="min-section__header">
                  <h3 class="min-section__title">NEWS & UPDATE</h3>
                </header>
                <div class="news-and-updates__list-wr">
                  <ul class="news-and-updates__list">
                    <li class="news-and-updates__list-item">
                      <div class="news-and-updates__list-item-inner">
                        <h4 class="news-and-updates__item-title">Mobile Update Verson 3.8</h4>
                        <div class="news-and-updates__item-text">
                          <p>New Version of PregoDashboard now can be updated directly from your device.</p>
                        </div>
                      </div>
                    </li>
                    <li class="news-and-updates__list-item">
                      <div class="news-and-updates__list-item-inner">
                        <h4 class="news-and-updates__item-title">PregoPay</h4>
                        <div class="news-and-updates__item-text">
                          <p>A digital wallet system is coming to your dashboard soon. To learn More: </p><a href="">http://pregopay.goprego.com/</a>
                        </div>
                      </div>
                    </li>
                    <li class="news-and-updates__list-item">
                      <div class="news-and-updates__list-item-inner">
                        <h4 class="news-and-updates__item-title">Insurance Card</h4>
                        <div class="news-and-updates__item-text">
                          <p>Travel Insurance that links into your PregoAccount, learn more and order here: <a href="">http://pregopay.goprego.com/</a></p>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </section>
              <footer class="min-section__footer text-center"><a href="" class="min-section__footer-link">SEE ALL NEWS & UPDATES</a></footer>
            </div>
          </div>
        </div>
      </main>
      <!-- end main Content-->
      <!-- Footer-->
      <footer class="main-footer clearfix js-footer__ht">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 copyright-block">
              <p class="copyright-block__text">&copy; 2015 Prego uPay. All Rights Reseved</p>
            </div>
            <div class="col-sm-6">
              <ul class="footer-nav">
                <li class="footer-nav__li"><a href="" class="footer-nav__link">Support</a></li>
                <li class="footer-nav__li"><a href="" class="footer-nav__link">Terms of Use</a></li>
                <li class="footer-nav__li"><a href="" class="footer-nav__link">Contact</a></li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
      <!-- end Footer-->
    </div>
    <!-- end #page-content-wrapper-->
  </body>
</html>

templates/pages/index.jade
extends ../layouts/default

block head
- pageTitle = 'Prego Company';

block content
  .container.loader-bg
    //.loader-wr.loader-wr_sb.js-minHt
      .loader-2
        img(src="img/loader.svg", alt="")

    h2.page-title Dashboard
    .row
      .col-md-4
        .min-section.min-section__br-bg.min-section__br-bg_info.min-section__pd.info-dash-couner-block
          h3.statistics__title
            span.main-counter__icon-wr
              i.icon.i-dollars
            | balance
          .main-counter__text-wr
            //- .statistics__general-information
            //-   span.statistics__general-information-label Company
            .main-counter__number
              span USD 
              | $14,050.30
      .col-md-4
        .min-section.min-section__br-bg.min-section__br-bg_info.min-section__pd.info-dash-couner-block
          h3.statistics__title
            span.main-counter__icon-wr
              i.icon.i-people
            | members
          .main-counter__text-wr
            .statistics__general-information
              span.statistics__general-information-label Join Requests:
              span.statistics__general-information-value 4
            .main-counter__number
              | 329
      .col-md-4
        .min-section.min-section__br-bg.min-section__br-bg_info.min-section__pd.info-dash-couner-block
          h3.statistics__title
            span.main-counter__icon-wr
              i.icon.i-reporters-i
            | payrolls
          .main-counter__text-wr
            .statistics__general-information
              span.statistics__general-information-label Latest:
              span.statistics__general-information-value 16/06/ 2015
            .main-counter__number
              | 56

    section.info-block.min-section.min-section__br-bg.min-section__pd.clearfix.alert.fade.in(role='alert')
      .section_btn-bottomm-right-wr
        button.close(type='button', data-dismiss='alert', aria-label='Close')
          span(aria-hidden='true') &times;
        header.min-section__header
          h3.min-section__title WELCOME TO YOUR DASHBOARD
        .row
          .col-lg-10
            .info-block__text
              p With this Portal you will be able to manage and make easy payroll within your Company.  You can manage all your members and create and upload payroll lists for an easy one time payroll for all. 
              p Take a moment to understand how this portal works, we will guide you with instructions trough out the Portal for you to have a better performance. Start now.
        a(href="").btn.btn-primary.btn_bottom-right i understand
    .row.dysplay-tb
      .col-md-7.col-lg-8.dysplay-tb-c.dysplay-tb-c-l
        //- section.min-section.min-section__br-bg.min-section__pd.monthly-payment__section.clearfix
        //-   .chart__wr.section_btn-bottomm-right-wr
        //-     .row
        //-       .col-lg-9
        //-         header.min-section__header
        //-           h3.min-section__title MEMBERS
        //-         .row
        //-           .col-sm-6
        //-             .chart__info
        //-               .chart__info-col.chart__info-col-1
        //-                 .chart__info-col-label.chart__color-info active
        //-                 .chart__info-col-value 300
        //-               .chart__info-col.chart__info-col-2
        //-                 .chart__info-col-label.chart__color-primary pending
        //-                 .chart__info-col-value 81
        //-               .chart__info-col.chart__info-col-3
        //-                 .chart__info-col-label.chart__color-default inactive
        //-                 .chart__info-col-value 29
        //-           .col-sm-6
        //-             .chart__block
        //-               img(src="img/mambers-chart-img.png", alt="").img-responsive
        //-       .col-lg-3
        //-         .row
        //-           .col-xs-6.col-lg-12.chart__total-wr
        //-             .chart__total-label TOTAL MEMBERS
        //-             .chart__total-value 329
        //-     a(href="").btn.btn-primary.btn_bottom-right members


        //- section.min-section.min-section__br-bg.min-section__pd.monthly-payment__section.clearfix.loader-bg
        //-   .loader-wr
        //-     .loader-2.loader-2_min
        //-       img(src="img/loader.svg", alt="", width="40", height="40")
        //-   .chart__wr.section_btn-bottomm-right-wr
        //-     .row
        //-       .col-lg-9
        //-         header.min-section__header
        //-           h3.min-section__title.min-section__title_load-show PAYROLL
        //-         .row
        //-           .col-sm-6
        //-             .chart__info
        //-               .chart__info-col.chart__info-col-1
        //-                 .chart__info-col-label.chart__color-info last
        //-                 .chart__info-col-value 542
        //-               .chart__info-col.chart__info-col-2
        //-                 .chart__info-col-label.chart__color-primary pending
        //-                 .chart__info-col-value 54
        //-               .chart__info-col.chart__info-col-3
        //-                 .chart__info-col-label.chart__color-danger failed
        //-                 .chart__info-col-value 5
        //-           .col-sm-6
        //-             .chart__block
        //-               img(src="img/payroll-chart-img.png", alt="").img-responsive
        //-       .col-lg-3
        //-         .row
        //-           .col-xs-6.col-lg-12.chart__total-wr
        //-             .chart__total-label TOTAL PAYROLL
        //-             .chart__total-value 601
        //-     a(href="").btn.btn-primary.btn_bottom-right members

        section.min-section.min-section__br-bg.min-section__pd.monthly-payment__section.clearfix
          .chart__wr.section_btn-bottomm-right-wr
            header.min-section__header
              h3.min-section__title MEMBERS
            .row
              .col-md-6.col-lg-5
                .chart__info
                  .chart__info-col.chart__info-col-1
                    .chart__info-col-label.chart__color-info active
                    .chart__info-col-value 300
                  .chart__info-col.chart__info-col-2
                    .chart__info-col-label.chart__color-danger inactive
                    .chart__info-col-value 81
                  .chart__info-col.chart__info-col-3
                    .chart__info-col-label.chart__color-primary join requests
                    .chart__info-col-value 29
              .col-md-4.col-md-offset-2.total-chart_wr
                .chart__total-label TOTAL MEMBERS
                .chart__total-value 329


        section.min-section.min-section__br-bg.min-section__pd.monthly-payment__section.clearfix.loader-bg
          .loader-wr
            .loader-2.loader-2_min
              img(src="img/loader.svg", alt="", width="40", height="40")
          .chart__wr.section_btn-bottomm-right-wr
            header.min-section__header
              h3.min-section__title.min-section__title_load-show PAYROLL
            .row
              .col-md-6.col-lg-5
                .chart__info
                  .chart__info-col.chart__info-col-1
                    .chart__info-col-label.chart__color-info complened
                    .chart__info-col-value 542
                  .chart__info-col.chart__info-col-2
                    .chart__info-col-label.chart__color-danger failed
                    .chart__info-col-value 54
                  .chart__info-col.chart__info-col-3
                    .chart__info-col-label.chart__color-primary draft
                    .chart__info-col-value 5
              .col-md-4.col-md-offset-2.total-chart_wr
                .chart__total-label TOTAL PAYROLL
                .chart__total-value 601


        .row
          .col-sm-4.min-section
            a(href="send-money.html").btn.btn-lg.btn-block.btn-primary send invitation
          .col-sm-4.min-section
            a(href="").btn.btn-lg.btn-block.btn-primary join requests
          .col-sm-4.min-section
            a(href="").btn.btn-lg.btn-block.btn-primary make payroll

        section.min-section.min-section__br-bg.min-section__pd
          header.min-section__header
            h3.min-section__title LATEST TRANSACTIONS
          .min-section__content-wr
            .min-section.min-section__br-bg.min-section__pd
              .row
                .col-sm-5
                  .item__text Payout From CX5YN001
                .col-sm-7
                  .item__text.item__text_right
                    | $890.00
              .row
                .col-sm-5
                  .item__text.item__text_min.item__text_mg-top 01.07.2015 12:34:55
                .col-sm-7
                  .item__text.item__text_right.item__text_min.item__text_mg-top
                    | Ref. No 234234234
            .min-section.min-section__br-bg.min-section__pd
              .row
                .col-sm-5
                  .item__text Expires 14/17
                .col-sm-7
                  .item__text.item__text_right
                    | Balance: 
                    span USD $35,050.03
              .row
                .col-sm-5
                  .item__text.item__text_min.item__text_mg-top 01.07.2015 12:34:55
                .col-sm-7
                  .item__text.item__text_right.item__text_min.item__text_mg-top
                    | Ref. No 234234234


      .col-md-5.col-lg-4.news-and-updates__block.dysplay-tb-c.dysplay-tb-c-r.min-section__br-bg_primary-light
        section.min-section__pd.section-z-index
          header.min-section__header
            h3.min-section__title NEWS & UPDATE
          .news-and-updates__list-wr
            ul.news-and-updates__list
              li.news-and-updates__list-item
                .news-and-updates__list-item-inner
                  h4.news-and-updates__item-title Mobile Update Verson 3.8
                  .news-and-updates__item-text
                    p New Version of PregoDashboard now can be updated directly from your device.
              li.news-and-updates__list-item
                .news-and-updates__list-item-inner
                  h4.news-and-updates__item-title PregoPay
                  .news-and-updates__item-text
                    p A digital wallet system is coming to your dashboard soon. To learn More: 
                    a(href="") http://pregopay.goprego.com/
              li.news-and-updates__list-item
                .news-and-updates__list-item-inner
                  h4.news-and-updates__item-title Insurance Card
                  .news-and-updates__item-text
                    p Travel Insurance that links into your PregoAccount, learn more and order here: 
                      a(href="") http://pregopay.goprego.com/
        footer.min-section__footer.text-center
          a(href="").min-section__footer-link SEE ALL NEWS & UPDATES


        //- section.min-section.min-section__br-bg.min-section__pd
        //-   header.min-section__header
        //-     h3.min-section__title Make new payout
        //-   .min-section__content-wr
        //-     ul.min-section__list
        //-       li 
        //-         a(href="")
        //-           span.first-list__icon
        //-             i.icon.i-uploadfile
        //-           | Upload Payout List
        //-           i.icon.i-arrow-right.i-more_m-l
        //-       li 
        //-         a(href="")
        //-           span.first-list__icon
        //-             i.icon.i-card
        //-           | Add Bank Account
        //-           i.icon.i-arrow-right.i-more_m-l
        //-   footer.min-section__footer.clearfix
        //-     a(href="").btn.btn-primary.pull-right Payout

        //- section.min-section.min-section__br-bg.min-section__pd
        //-   header.min-section__header
        //-     h3.min-section__title Reports
        //-   .min-section__content-wr
        //-     ul.min-section__list
        //-       li 
        //-           span.first-list__icon
        //-             .user-status.user-status_error
        //-           | Payment Error - Account No.647885900
        //-       li 
        //-           span.first-list__icon
        //-             .user-status.user-status_new-reg
        //-           | 45 new member registrations
        //-       li 
        //-           span.first-list__icon
        //-             .user-status
        //-           | Account verification is being processed
        //-   footer.min-section__footer.clearfix
        //-     a(href="").pull-right More reports
        //-       i.icon.i-arrow-right.i-more_m-l
