templates/pages/members.jade
extends ../layouts/default

block head
- pageTitle = 'Prego Mempers';

block link
  -var selected = 'members';

block ng
  - var ngApp = "myApp";
  - var ngController = "MyCtrl";

block append js
  script(src='js/ng-members.js')

block content
  .container
    .row
      .col-sm-6
        h2.page-title Members
      .col-sm-6
        .btn-group_horizontal.btn-group_right
          button.btn.btn-primary(type='button', data-toggle='modal', data-target=' #invitationsJoinRequestsModal')
            | JOIN REQUESTS
            span.btn-badge 5
          button.btn.btn-primary(type='button', data-toggle='modal', data-target='#inviteMembersModal')
            | INVITE MEMBERS

    .main-account__section.min-section.min-section__br-bg
      div(role='tabpanel')
        // Nav tabs
        .min-section__pd.min-section__pd-bt-none
          .row
            .col-sm-8.col-md-9.col-lg-10
              ul.nav.nav-tabs.nav-tub_custom(role='tablist')
                li.active(role='presentation')
                  a(href='#All', aria-controls='All', role='tab', data-toggle='tab') All
                li(role='presentation')
                  a(href='#Active', aria-controls='Active', role='tab', data-toggle='tab') Active
                li(role='presentation')
                  a(href='#PendingConfirmation', aria-controls='PendingConfirmation', role='tab', data-toggle='tab') Pending Confirmation
                li(role='presentation')
                  a(href='#Archived', aria-controls='Archived', role='tab', data-toggle='tab') Archived
            .col-sm-4.col-md-3.col-lg-2
              .filter-input
                input.form-control#inputSuccess2(type="text", aria-describedby="inputSuccess2Status", placeholder="Search members")
                span.icon.i-search.form-control-feedback(aria-hidden="true")

        // Tab panes
        .tab-content.min-section__pd
          #All.tab-pane.active.fade.in(role='tabpanel')
            .tabpanel_inner
              .gridStyle(ng-grid="gridOptions")
          #Active.tab-pane.fade(role='tabpanel')
            .tabpanel_inner-width
              p Active
           #PendingConfirmation.tab-pane.fade(role='tabpanel')
            .tabpanel_inner-width
              p Pending Confirmation
          #Archived.tab-pane.fade(role='tabpanel')
            .tabpanel_inner-width
              p Archived


  #inviteMembersModal.modal.fade(role='dialog', data-toggle="modal", aria-labelledby='confirmActionLabel', aria-hidden='true')
    .modal-dialog.modal-lg
      .modal-content
        form.form-horizontal
          .modal-header
            button.close.modal__close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') &times;
            h4#confirmActionLabel.modal-title Invite members
          .modal-body
            ul.list_style.list_style-border
              
              li
                .row
                  label.control-label.col-sm-2(for="inputEmail") E-mail
                  .col-sm-10
                    input.form-control(type="text", placeholder="+ Add email")
                    //- tags-input.form-contro#inputEmail(ng-model="tags", display-property="name", placeholder="+ Add email")

            .clearfix
              a(href="").pull-right Add more +

          .modal-footer
            nav.pull-left
              span.pagination__label Page
              ul.pagination.pull-left
                li
                  a(href='#', aria-label='Previous')
                    span(aria-hidden='true') <
                li.active
                  a(href='#') 1
                li
                  a(href='#', aria-label='Next')
                    span(aria-hidden='true') >
              span.pagination__counter of 2
            button.btn.btn-primary(type='button', data-toggle='modal',data-dismiss="modal", data-target='#invitationsSendModal') Send

  #invitationsSendModal.modal.fade(role='dialog', data-toggle="modal", aria-labelledby='confirmActionLabel', aria-hidden='true')
    .modal-dialog.modal-md
      .modal-content
        .modal-body
          p.invitations-send__text The invitations were send successfully.
        .modal-footer.invitations-send__footer
          a(href="", data-dismiss="modal").btn.btn-primary Ok

  #invitationsJoinRequestsModal.modal.fade(role='dialog', data-toggle="modal", aria-labelledby='confirmActionLabel', aria-hidden='true')
    .modal-dialog.modal-lg
      .modal-content
        form.form-horizontal
          .modal-header
            button.close.modal__close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') &times;
            h4#JoinRequestsLabel.modal-title Join Requests
          .modal-body
            ul.list_style.list_style-border
              //- li 
              //-   h3.item__title ASDF Entertainment
              //-     span Joined
              //-   .item-title__id ID 150.25.13.400
              //-   .item-title__text Oklahoma City, S Walker Ave Tulsa, E 73rd St
              //- li 
              //-   h3.item__title Ins Corporation
              //-     span Joined
              //-   .item-title__id ID 150.25.13.400
              //-   .item-title__text Oklahoma City, S Walker Ave Tulsa, E 73rd St
              //- li 
              //-   h3.item__title ASDF Entertainment
              //-     span Joined
              //-   .item-title__id ID 150.25.13.400
              //-   .item-title__text Oklahoma City, S Walker Ave Tulsa, E 73rd St
              //- li 
              //-   h3.item__title ASDF Entertainment
              //-     span Awaiting Canfirmation
              //-   .item-title__id ID 150.25.13.400
              //-   .item-title__text Oklahoma City, S Walker Ave Tulsa, E 73rd St
              li
                .row
                  .col-sm-6.join-list__left-block
                    ul.min-list-info
                      li.min-list-info__item
                        .min-list-info__label Name:
                        .min-list-info__value ASDF Entertainment
                      li.min-list-info__item
                        .min-list-info__label Date of birth:
                        .min-list-info__value 20/20/1988
                      li.min-list-info__item
                        .min-list-info__label Email:
                        .min-list-info__value test@mail.ru
                  .col-sm-6.join-list__right-block
                    .btn-group_horizontal.btn-group_right
                      a(href="").btn.btn-primary Confirm
                      a(href="").btn.btn-default Reject

              li
                .row
                  .col-sm-6.join-list__left-block
                    ul.min-list-info
                      li.min-list-info__item
                        .min-list-info__label Name:
                        .min-list-info__value ASDF Entertainment
                      li.min-list-info__item
                        .min-list-info__label Date of birth:
                        .min-list-info__value 20/20/1988
                      li.min-list-info__item
                        .min-list-info__label Email:
                        .min-list-info__value test@mail.ru
                  .col-sm-6.join-list__right-block
                    .btn-group_horizontal.btn-group_right
                      a(href="").btn.btn-primary Confirm
                      a(href="").btn.btn-default Reject

              li
                .row
                  .col-sm-6.join-list__left-block
                    ul.min-list-info
                      li.min-list-info__item
                        .min-list-info__label Name:
                        .min-list-info__value ASDF Entertainment
                      li.min-list-info__item
                        .min-list-info__label Date of birth:
                        .min-list-info__value 20/20/1988
                      li.min-list-info__item
                        .min-list-info__label Email:
                        .min-list-info__value test@mail.ru
                  .col-sm-6.join-list__right-block
                    .btn-group_horizontal.btn-group_right
                      a(href="").btn.btn-primary Confirm
                      a(href="").btn.btn-default Reject

            nav.clearfix
              span.pagination__label Page
              ul.pagination.pull-left
                li
                  a(href='#', aria-label='Previous')
                    span(aria-hidden='true') <
                li.active
                  a(href='#') 1
                li
                  a(href='#', aria-label='Next')
                    span(aria-hidden='true') >
              span.pagination__counter of 2

members.html
<!DOCTYPE html><!--[if IE 8]>
<html lang="en-US" class="no-js lt-ie9">
<![endif]-->
<!--[if IE 9]>
<html lang="en-US" class="no-js ie9">
<![endif]-->
<html lang="en-US" ng-app="myApp" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="favicon/favicon.ico" type="web/image/pngIllegal return statement">
    <title></title>
    <meta name="description">
    <meta name="keywords">
    <meta name="copyright">
    <!-- bower_components__styles-->
    <link href="bower_components/ng-grid-bower/ng-grid.min.css" rel="stylesheet">
    <link href="bower_components/ngDialog/css/ngDialog.min.css" rel="stylesheet">
    <link href="bower_components/ngDialog/css/ngDialog-theme-default.min.css" rel="stylesheet">
    <link href="bower_components/ngDialog/css/ngDialog-theme-plain.min.css" rel="stylesheet">
    <!-- end bower_components__styles-->
    <!-- main__styles-->
    <link href="css/ng-grid.css" rel="stylesheet">
    <link href="css/ng-tags-input-custom.css" rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/css/bootstrap-select.min.css">
    <link href="css/style.css" rel="stylesheet">
    <!-- end  main__styles-->
    <!-- bower_components__js-->
    <script src="bower_components/modernizr/modernizr.js"></script>
    <script src="bower_components/respond/dest/respond.min.js"></script>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/ng-grid-bower/ng-grid.debug.js"></script>
    <script src="bower_components/ng-tags-input/ng-tags-input.js"></script>
    <script src="bower_components/ngDialog/js/ngDialog.min.js"></script>
    <script src="bower_components/ng-file-upload/ng-file-upload-all.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/js/bootstrap-select.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="bower_components/jcf/js/jcf.js"></script>
    <script src="bower_components/jcf/js/jcf.select.js"></script>
    <!-- end bower_components__js-->
    <!-- main__js-->
    <script src="js/main.js"></script>
    <!-- end main__js-->
    <script src="js/ng-members.js"></script>
  </head>
  <body ng-controller="MyCtrl" class="desktop-detected">
    <!-- Header-->
    <header class="main-header js-header__ht">
      <div class="navbar-top clearfix">
        <div class="container">
          <div class="row">
            <div class="col-xs-6"><a id="menu-toggle" href="#menu-toggle" class="sb-toggle-left">
                <div class="menu_icon">
                  <div class="navicon-line"></div>
                  <div class="navicon-line"></div>
                  <div class="navicon-line"></div>
                </div></a>
              <h1 class="logo-wrapper"><a href="index.html" class="logo"><img src="img/logo.png" alt="" class="img-responsive"></a></h1>
            </div>
            <div class="col-xs-6 authorisation__menu">
              <div class="authorisation__menu_authorised">
                <div class="user-alerts-wr">
                  <div class="dropdown user-alerts__dropdown"><a data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false" class="icon i-bell i-bell_empty"></a>
                    <div role="menu" aria-labelledby="dLabel" data-toggle="no-collapse" class="dropdown-menu user-alerts__menu">
                      <div class="notifications_dd">notifications</div>
                      <ul>
                        <li role="alert" class="alert fade in">
                          <button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true">&times;</span></button>
                          <p class="alert__massage-error">Payment Error - Account No. 647885900</p>
                        </li>
                        <li role="alert" class="alert fade in">
                          <button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true">&times;</span></button>
                          <p class="alert__massage-edded">New payment was added.</p>
                        </li>
                        <li role="alert" class="alert fade in">
                          <button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true">&times;</span></button>
                          <p class="alert__massage-approved">Payment No.123456 is approved.</p>
                        </li>
                        <li role="alert" class="alert fade in">
                          <button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true">&times;</span></button>
                          <p class="alert__massage-approved">Your password was recently updated. Please complete your security questions.</p>
                        </li>
                      </ul>
                    </div>
                  </div><span class="badge alert-count">46</span>
                </div>
                <div class="user-avatar-wr"><a href="" class="user-avatar"><img src="img/no-user-photo.png" alt=""></a>
                  <div class="user-status user-status_avatar"></div>
                </div>
                <div class="dropdown user-dropdown"><a id="dLabel" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false" class="user-dropdown__btn"><span class="user-name">James K.</span><span class="icon i-arrow-bottom user-dropdown__carret"></span></a>
                  <div role="menu" aria-labelledby="dLabel" class="dropdown-menu user-dropdown__menu">
                    <div class="dropdown__user-status"><a href="">
                        <div class="user-status user-status_dd"></div>Account Verification</a></div>
                    <ul>
                      <li><a href="company-details.html"><i class="icon i-company-information"></i>Company Information</a></li>
                      <li><a href="company-details.html"><i class="icon i-contact-person"></i>Contact Person</a></li>
                      <li><a href="company-details.html"><i class="icon i-change-password"></i>Change Password</a></li>
                      <li><a href="company-details.html"><i class="icon i-log-out-i"></i>Log Out</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- end Header-->
    <!-- #page-content-wrapper-->
    <div id="page-content-wrapper">
      <!-- Sidebar-->
      <aside id="sidebar-wrapper">
        <nav>
          <ul class="sidebar-nav">
            <li><a href="profile.html"><span class="icon"><span class="profile-img__wr"><img src="img/profil-img.png" alt="">
                    <div class="user-status user-status_avatar user-status_new-reg"></div></span></span>James K</a></li>
            <li><a href="index.html"><i class="icon i-dash-i"></i>dashboard</a></li>
            <li><a href="companies.html"><i class="icon i-companies-i"></i>Companies</a></li>
            <li class="active"><a href="members.html"><i class="icon i-people"></i>Members</a></li>
            <li><a href="payout.html"><i class="icon i-coin"></i>Payroll</a></li>
            <li><a href="reports.html"><i class="icon i-reporters-i"></i>Reports</a></li>
            <li><a href="support.html"><i class="icon i-support-i"></i>Support</a></li>
          </ul>
        </nav>
      </aside>
      <!-- end Sidebar-->
      <!-- Main content-->
      <main class="main-content js-minHt js-Ht">
        <div class="container">
          <div class="row">
            <div class="col-sm-6">
              <h2 class="page-title">Members</h2>
            </div>
            <div class="col-sm-6">
              <div class="btn-group_horizontal btn-group_right">
                <button type="button" data-toggle="modal" data-target=" #invitationsJoinRequestsModal" class="btn btn-primary">JOIN REQUESTS<span class="btn-badge">5</span></button>
                <button type="button" data-toggle="modal" data-target="#inviteMembersModal" class="btn btn-primary">INVITE MEMBERS</button>
              </div>
            </div>
          </div>
          <div class="main-account__section min-section min-section__br-bg">
            <div role="tabpanel">
              <!-- Nav tabs-->
              <div class="min-section__pd min-section__pd-bt-none">
                <div class="row">
                  <div class="col-sm-8 col-md-9 col-lg-10">
                    <ul role="tablist" class="nav nav-tabs nav-tub_custom">
                      <li role="presentation" class="active"><a href="#All" aria-controls="All" role="tab" data-toggle="tab">All</a></li>
                      <li role="presentation"><a href="#Active" aria-controls="Active" role="tab" data-toggle="tab">Active</a></li>
                      <li role="presentation"><a href="#PendingConfirmation" aria-controls="PendingConfirmation" role="tab" data-toggle="tab">Pending Confirmation</a></li>
                      <li role="presentation"><a href="#Archived" aria-controls="Archived" role="tab" data-toggle="tab">Archived</a></li>
                    </ul>
                  </div>
                  <div class="col-sm-4 col-md-3 col-lg-2">
                    <div class="filter-input">
                      <input id="inputSuccess2" type="text" aria-describedby="inputSuccess2Status" placeholder="Search members" class="form-control"><span aria-hidden="true" class="icon i-search form-control-feedback"></span>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Tab panes-->
              <div class="tab-content min-section__pd">
                <div id="All" role="tabpanel" class="tab-pane active fade in">
                  <div class="tabpanel_inner">
                    <div ng-grid="gridOptions" class="gridStyle"></div>
                  </div>
                </div>
                <div id="Active" role="tabpanel" class="tab-pane fade">
                  <div class="tabpanel_inner-width">
                    <p>Active</p>
                  </div>
                </div>
                <div id="PendingConfirmation" role="tabpanel" class="tab-pane fade">
                  <div class="tabpanel_inner-width">
                    <p>Pending Confirmation</p>
                  </div>
                </div>
                <div id="Archived" role="tabpanel" class="tab-pane fade">
                  <div class="tabpanel_inner-width">
                    <p>Archived</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="inviteMembersModal" role="dialog" data-toggle="modal" aria-labelledby="confirmActionLabel" aria-hidden="true" class="modal fade">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <form class="form-horizontal">
                <div class="modal-header">
                  <button type="button" data-dismiss="modal" aria-label="Close" class="close modal__close"><span aria-hidden="true">&times;</span></button>
                  <h4 id="confirmActionLabel" class="modal-title">Invite members</h4>
                </div>
                <div class="modal-body">
                  <ul class="list_style list_style-border">
                    <li>
                      <div class="row">
                        <label for="inputEmail" class="control-label col-sm-2">E-mail</label>
                        <div class="col-sm-10">
                          <input type="text" placeholder="+ Add email" class="form-control">
                        </div>
                      </div>
                    </li>
                  </ul>
                  <div class="clearfix"><a href="" class="pull-right">Add more +</a></div>
                </div>
                <div class="modal-footer">
                  <nav class="pull-left"><span class="pagination__label">Page</span>
                    <ul class="pagination pull-left">
                      <li><a href="#" aria-label="Previous"><span aria-hidden="true"><</span></a></li>
                      <li class="active"><a href="#">1</a></li>
                      <li><a href="#" aria-label="Next"><span aria-hidden="true">></span></a></li>
                    </ul><span class="pagination__counter">of 2</span>
                  </nav>
                  <button type="button" data-toggle="modal" data-dismiss="modal" data-target="#invitationsSendModal" class="btn btn-primary">Send</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div id="invitationsSendModal" role="dialog" data-toggle="modal" aria-labelledby="confirmActionLabel" aria-hidden="true" class="modal fade">
          <div class="modal-dialog modal-md">
            <div class="modal-content">
              <div class="modal-body">
                <p class="invitations-send__text">The invitations were send successfully.</p>
              </div>
              <div class="modal-footer invitations-send__footer"><a href="" data-dismiss="modal" class="btn btn-primary">Ok</a></div>
            </div>
          </div>
        </div>
        <div id="invitationsJoinRequestsModal" role="dialog" data-toggle="modal" aria-labelledby="confirmActionLabel" aria-hidden="true" class="modal fade">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <form class="form-horizontal">
                <div class="modal-header">
                  <button type="button" data-dismiss="modal" aria-label="Close" class="close modal__close"><span aria-hidden="true">&times;</span></button>
                  <h4 id="JoinRequestsLabel" class="modal-title">Join Requests</h4>
                </div>
                <div class="modal-body">
                  <ul class="list_style list_style-border">
                    <li>
                      <div class="row">
                        <div class="col-sm-6 join-list__left-block">
                          <ul class="min-list-info">
                            <li class="min-list-info__item">
                              <div class="min-list-info__label">Name:</div>
                              <div class="min-list-info__value">ASDF Entertainment</div>
                            </li>
                            <li class="min-list-info__item">
                              <div class="min-list-info__label">Date of birth:</div>
                              <div class="min-list-info__value">20/20/1988</div>
                            </li>
                            <li class="min-list-info__item">
                              <div class="min-list-info__label">Email:</div>
                              <div class="min-list-info__value">test@mail.ru</div>
                            </li>
                          </ul>
                        </div>
                        <div class="col-sm-6 join-list__right-block">
                          <div class="btn-group_horizontal btn-group_right"><a href="" class="btn btn-primary">Confirm</a><a href="" class="btn btn-default">Reject</a></div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="row">
                        <div class="col-sm-6 join-list__left-block">
                          <ul class="min-list-info">
                            <li class="min-list-info__item">
                              <div class="min-list-info__label">Name:</div>
                              <div class="min-list-info__value">ASDF Entertainment</div>
                            </li>
                            <li class="min-list-info__item">
                              <div class="min-list-info__label">Date of birth:</div>
                              <div class="min-list-info__value">20/20/1988</div>
                            </li>
                            <li class="min-list-info__item">
                              <div class="min-list-info__label">Email:</div>
                              <div class="min-list-info__value">test@mail.ru</div>
                            </li>
                          </ul>
                        </div>
                        <div class="col-sm-6 join-list__right-block">
                          <div class="btn-group_horizontal btn-group_right"><a href="" class="btn btn-primary">Confirm</a><a href="" class="btn btn-default">Reject</a></div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="row">
                        <div class="col-sm-6 join-list__left-block">
                          <ul class="min-list-info">
                            <li class="min-list-info__item">
                              <div class="min-list-info__label">Name:</div>
                              <div class="min-list-info__value">ASDF Entertainment</div>
                            </li>
                            <li class="min-list-info__item">
                              <div class="min-list-info__label">Date of birth:</div>
                              <div class="min-list-info__value">20/20/1988</div>
                            </li>
                            <li class="min-list-info__item">
                              <div class="min-list-info__label">Email:</div>
                              <div class="min-list-info__value">test@mail.ru</div>
                            </li>
                          </ul>
                        </div>
                        <div class="col-sm-6 join-list__right-block">
                          <div class="btn-group_horizontal btn-group_right"><a href="" class="btn btn-primary">Confirm</a><a href="" class="btn btn-default">Reject</a></div>
                        </div>
                      </div>
                    </li>
                  </ul>
                  <nav class="clearfix"><span class="pagination__label">Page</span>
                    <ul class="pagination pull-left">
                      <li><a href="#" aria-label="Previous"><span aria-hidden="true"><</span></a></li>
                      <li class="active"><a href="#">1</a></li>
                      <li><a href="#" aria-label="Next"><span aria-hidden="true">></span></a></li>
                    </ul><span class="pagination__counter">of 2</span>
                  </nav>
                </div>
              </form>
            </div>
          </div>
        </div>
      </main>
      <!-- end main Content-->
      <!-- Footer-->
      <footer class="main-footer clearfix js-footer__ht">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 copyright-block">
              <p class="copyright-block__text">&copy; 2015 Prego uPay. All Rights Reseved</p>
            </div>
            <div class="col-sm-6">
              <ul class="footer-nav">
                <li class="footer-nav__li"><a href="" class="footer-nav__link">Support</a></li>
                <li class="footer-nav__li"><a href="" class="footer-nav__link">Terms of Use</a></li>
                <li class="footer-nav__li"><a href="" class="footer-nav__link">Contact</a></li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
      <!-- end Footer-->
    </div>
    <!-- end #page-content-wrapper-->
  </body>
</html>
