templates/pages/new-payout.jade
extends ../layouts/default
block head
- pageTitle = 'Prego Payout';
block link
   -var selected = "payout";

block ng
  - var ngApp = "myApp";
  - var ngController = "MyCtrl3";


block append js
  script(src='js/ng-payout-new.js')


block content
  .container
    .row
      .col-md-12
        h2.page-title New Paroll
      //- .col-md-6
      //-   .btn-group_horizontal.btn-group_right
      //-     button.btn.btn-primary(type='button', data-toggle='modal', data-target='#inviteNewPayout')
      //-       | New Payout
    .min-section.min-section__br-bg.min-section__pd
      .main-filter-block
        form.form-horizontal
          .row
            .col-lg-5
              .help-block Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
          .row
            .col-lg-5
              .form-group
                label.control-label.col-lg-3 Reference:
                .col-lg-9
                  input(type="text", value="April 2015 Bonus Payment").form-control
            .col-lg-5.col-lg-offset-1
              .form-group
                .col-lg-12
                  .main-filter-block__counter
                    | Members:
                    strong 15
          .row
            .col-lg-5
              .help-block Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
          .row
            .col-lg-5
              .form-group
                label.control-label.col-lg-3 Payment Run Date:
                .col-lg-9
                  include ../blocks/datepicer
                  //- .form-icon-group
                  //-   span.form-icon: i.icon.i-calculator
                  //-   input(type="text", value="28/01/2015").form-control
            .col-lg-5.col-lg-offset-1
              .form-group
                .col-lg-12
                  .main-filter-block__counter
                    |  Total Amount:
                    strong  $10.374.00
          .row
            .col-lg-5
              .help-block Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
          .row
            .col-lg-5
              .form-group
                label.control-label.col-lg-3 Scan Passport
                .col-lg-9
                  .form-icon-group
                    span.form-icon: i.icon.i-download
                    input(type="text", placeholder="File nema", value="{{file_.name}}", ngf-select='', ngf-change='upload($files)', ngf-multiple='multiple').form-control


            //- .col-lg-3
            //-   .btn-group_horizontal.btn-group_right.upload-payout-list__wr
            //-     button.btn.btn-primary(type='button', ng-click="clickUploadPayout()")
            //-       | Upload Payout List
      .row
        .col-md-5.min-section
          h4.min-title All Members
          .row.filter-input__wr
            .col-md-7
              .form-group.filter-input.filter-input_right
                input.form-control#inputSuccess2(type="text", aria-describedby="inputSuccess2Status", placeholder="Search members")
                span.icon.i-search.form-control-feedback(aria-hidden="true")
            .col-md-5
              a(href="").filter-input__btn
                i.icon.i-plus
                | Add Selected
          .gridStyle(ng-grid="gridOptions1")
        .col-md-6.col-md-offset-1.min-section
          h4.min-title Member in Payout
          .row.filter-input__wr
            .col-md-7
              .form-group.filter-input.filter-input_right
                input.form-control#inputSuccess2(type="text", aria-describedby="inputSuccess2Status", placeholder="Search members")
                span.icon.i-search.form-control-feedback(aria-hidden="true")
            .col-md-5
              a(href="").filter-input__btn
                i.icon.i-trash
                | Remove Selected
          //- .gridStyle(ng-grid="gridOptions2")
          include ../blocks/grid-empty

      .btn-group_horizontal.btn-group_right
          button.btn.btn-primary(type='button')
            | Save
          button.btn.btn-primary(type='button')
            | Approve
          a(href="payout.html").btn.btn-default(type='button')
            | Cancel

new-payout.html
<!DOCTYPE html><!--[if IE 8]>
<html lang="en-US" class="no-js lt-ie9">
<![endif]-->
<!--[if IE 9]>
<html lang="en-US" class="no-js ie9">
<![endif]-->
<html lang="en-US" ng-app="myApp" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="favicon/favicon.ico" type="web/image/pngIllegal return statement">
    <title></title>
    <meta name="description">
    <meta name="keywords">
    <meta name="copyright">
    <!-- bower_components__styles-->
    <link href="bower_components/ng-grid-bower/ng-grid.min.css" rel="stylesheet">
    <link href="bower_components/ngDialog/css/ngDialog.min.css" rel="stylesheet">
    <link href="bower_components/ngDialog/css/ngDialog-theme-default.min.css" rel="stylesheet">
    <link href="bower_components/ngDialog/css/ngDialog-theme-plain.min.css" rel="stylesheet">
    <!-- end bower_components__styles-->
    <!-- main__styles-->
    <link href="css/ng-grid.css" rel="stylesheet">
    <link href="css/ng-tags-input-custom.css" rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/css/bootstrap-select.min.css">
    <link href="css/style.css" rel="stylesheet">
    <!-- end  main__styles-->
    <!-- bower_components__js-->
    <script src="bower_components/modernizr/modernizr.js"></script>
    <script src="bower_components/respond/dest/respond.min.js"></script>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/ng-grid-bower/ng-grid.debug.js"></script>
    <script src="bower_components/ng-tags-input/ng-tags-input.js"></script>
    <script src="bower_components/ngDialog/js/ngDialog.min.js"></script>
    <script src="bower_components/ng-file-upload/ng-file-upload-all.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/js/bootstrap-select.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="bower_components/jcf/js/jcf.js"></script>
    <script src="bower_components/jcf/js/jcf.select.js"></script>
    <!-- end bower_components__js-->
    <!-- main__js-->
    <script src="js/main.js"></script>
    <!-- end main__js-->
    <script src="js/ng-payout-new.js"></script>
  </head>
  <body ng-controller="MyCtrl3" class="desktop-detected">
    <!-- Header-->
    <header class="main-header js-header__ht">
      <div class="navbar-top clearfix">
        <div class="container">
          <div class="row">
            <div class="col-xs-6"><a id="menu-toggle" href="#menu-toggle" class="sb-toggle-left">
                <div class="menu_icon">
                  <div class="navicon-line"></div>
                  <div class="navicon-line"></div>
                  <div class="navicon-line"></div>
                </div></a>
              <h1 class="logo-wrapper"><a href="index.html" class="logo"><img src="img/logo.png" alt="" class="img-responsive"></a></h1>
            </div>
            <div class="col-xs-6 authorisation__menu">
              <div class="authorisation__menu_authorised">
                <div class="user-alerts-wr">
                  <div class="dropdown user-alerts__dropdown"><a data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false" class="icon i-bell i-bell_empty"></a>
                    <div role="menu" aria-labelledby="dLabel" data-toggle="no-collapse" class="dropdown-menu user-alerts__menu">
                      <div class="notifications_dd">notifications</div>
                      <ul>
                        <li role="alert" class="alert fade in">
                          <button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true">&times;</span></button>
                          <p class="alert__massage-error">Payment Error - Account No. 647885900</p>
                        </li>
                        <li role="alert" class="alert fade in">
                          <button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true">&times;</span></button>
                          <p class="alert__massage-edded">New payment was added.</p>
                        </li>
                        <li role="alert" class="alert fade in">
                          <button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true">&times;</span></button>
                          <p class="alert__massage-approved">Payment No.123456 is approved.</p>
                        </li>
                        <li role="alert" class="alert fade in">
                          <button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true">&times;</span></button>
                          <p class="alert__massage-approved">Your password was recently updated. Please complete your security questions.</p>
                        </li>
                      </ul>
                    </div>
                  </div><span class="badge alert-count">46</span>
                </div>
                <div class="user-avatar-wr"><a href="" class="user-avatar"><img src="img/no-user-photo.png" alt=""></a>
                  <div class="user-status user-status_avatar"></div>
                </div>
                <div class="dropdown user-dropdown"><a id="dLabel" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false" class="user-dropdown__btn"><span class="user-name">James K.</span><span class="icon i-arrow-bottom user-dropdown__carret"></span></a>
                  <div role="menu" aria-labelledby="dLabel" class="dropdown-menu user-dropdown__menu">
                    <div class="dropdown__user-status"><a href="">
                        <div class="user-status user-status_dd"></div>Account Verification</a></div>
                    <ul>
                      <li><a href="company-details.html"><i class="icon i-company-information"></i>Company Information</a></li>
                      <li><a href="company-details.html"><i class="icon i-contact-person"></i>Contact Person</a></li>
                      <li><a href="company-details.html"><i class="icon i-change-password"></i>Change Password</a></li>
                      <li><a href="company-details.html"><i class="icon i-log-out-i"></i>Log Out</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- end Header-->
    <!-- #page-content-wrapper-->
    <div id="page-content-wrapper">
      <!-- Sidebar-->
      <aside id="sidebar-wrapper">
        <nav>
          <ul class="sidebar-nav">
            <li><a href="profile.html"><span class="icon"><span class="profile-img__wr"><img src="img/profil-img.png" alt="">
                    <div class="user-status user-status_avatar user-status_new-reg"></div></span></span>James K</a></li>
            <li><a href="index.html"><i class="icon i-dash-i"></i>dashboard</a></li>
            <li><a href="companies.html"><i class="icon i-companies-i"></i>Companies</a></li>
            <li><a href="members.html"><i class="icon i-people"></i>Members</a></li>
            <li class="active"><a href="payout.html"><i class="icon i-coin"></i>Payroll</a></li>
            <li><a href="reports.html"><i class="icon i-reporters-i"></i>Reports</a></li>
            <li><a href="support.html"><i class="icon i-support-i"></i>Support</a></li>
          </ul>
        </nav>
      </aside>
      <!-- end Sidebar-->
      <!-- Main content-->
      <main class="main-content js-minHt js-Ht">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h2 class="page-title">New Paroll</h2>
            </div>
          </div>
          <div class="min-section min-section__br-bg min-section__pd">
            <div class="main-filter-block">
              <form class="form-horizontal">
                <div class="row">
                  <div class="col-lg-5">
                    <div class="help-block">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-5">
                    <div class="form-group">
                      <label class="control-label col-lg-3">Reference:</label>
                      <div class="col-lg-9">
                        <input type="text" value="April 2015 Bonus Payment" class="form-control">
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-5 col-lg-offset-1">
                    <div class="form-group">
                      <div class="col-lg-12">
                        <div class="main-filter-block__counter">Members:<strong>15</strong></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-5">
                    <div class="help-block">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-5">
                    <div class="form-group">
                      <label class="control-label col-lg-3">Payment Run Date:</label>
                      <div class="col-lg-9">
                        <div class="input-ng-datepicker"><span type="button" ng-click="open($event)" class="btn ng-datepicker-btn"><i class="icon i-calculator"></i></span>
                          <input type="text" datepicker-popup="" show-button-bar="false" ng-model="dt" is-open="opened" min-date="minDate" datepicker-options="dateOptions" ng-required="true" close-text="Close" class="form-control">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-5 col-lg-offset-1">
                    <div class="form-group">
                      <div class="col-lg-12">
                        <div class="main-filter-block__counter"> Total Amount:<strong> $10.374.00</strong></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-5">
                    <div class="help-block">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-5">
                    <div class="form-group">
                      <label class="control-label col-lg-3">Scan Passport</label>
                      <div class="col-lg-9">
                        <div class="form-icon-group"><span class="form-icon"><i class="icon i-download"></i></span>
                          <input type="text" placeholder="File nema" value="{{file_.name}}" ngf-select="" ngf-change="upload($files)" ngf-multiple="multiple" class="form-control">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="row">
              <div class="col-md-5 min-section">
                <h4 class="min-title">All Members</h4>
                <div class="row filter-input__wr">
                  <div class="col-md-7">
                    <div class="form-group filter-input filter-input_right">
                      <input id="inputSuccess2" type="text" aria-describedby="inputSuccess2Status" placeholder="Search members" class="form-control"><span aria-hidden="true" class="icon i-search form-control-feedback"></span>
                    </div>
                  </div>
                  <div class="col-md-5"><a href="" class="filter-input__btn"><i class="icon i-plus"></i>Add Selected</a></div>
                </div>
                <div ng-grid="gridOptions1" class="gridStyle"></div>
              </div>
              <div class="col-md-6 col-md-offset-1 min-section">
                <h4 class="min-title">Member in Payout</h4>
                <div class="row filter-input__wr">
                  <div class="col-md-7">
                    <div class="form-group filter-input filter-input_right">
                      <input id="inputSuccess2" type="text" aria-describedby="inputSuccess2Status" placeholder="Search members" class="form-control"><span aria-hidden="true" class="icon i-search form-control-feedback"></span>
                    </div>
                  </div>
                  <div class="col-md-5"><a href="" class="filter-input__btn"><i class="icon i-trash"></i>Remove Selected</a></div>
                </div>
                <div class="gridStyle ng-scope ngGrid ng1435321224861 unselectable ui-widget">
                  <div ng-class="{'ui-widget-header':jqueryUITheme, 'ui-corner-top': jqueryUITheme}" ng-style="topPanelStyle()" style="width: 767px; height: 40px;" class="ngTopPanel ng-scope ui-widget-header ui-corner-top">
                    <div ng-show="showGroupPanel()" ng-style="groupPanelStyle()" style="width: 767px; height: 32px;" class="ngGroupPanel ng-hide">
                      <div ng-show="configGroups.length == 0" class="ngGroupPanelDescription ng-binding">Drag a column header here and drop it to group by that column.</div>
                      <ul ng-show="configGroups.length &gt; 0" class="ngGroupList ng-hide">
                        <!-- ngRepeat: group in configGroups-->
                      </ul>
                    </div>
                    <div ng-style="headerStyle()" style="width: 767px; height: 40px;" class="ngHeaderContainer">
                      <!-- ngInclude: gridId + 'headerRowTemplate.html'-->
                      <div ng-style="headerScrollerStyle()" ng-include="gridId + 'headerRowTemplate.html'" style="height: 40px;" class="ngHeaderScroller ng-scope">
                        <!-- ngRepeat: col in renderedColumns-->
                        <div ng-style="{ height: col.headerRowHeight }" ng-repeat="col in renderedColumns" ng-class="col.colIndex()" style="height: 40px;" class="ngHeaderCell ng-scope col0 colt0 ng-user-ch__wr">
                          <div ng-style="{height: col.headerRowHeight}" ng-class="{ ngVerticalBarVisible: !$last }" style="height: 40px;" class="ngVerticalBar ngVerticalBarVisible"> </div>
                          <div ng-style="{'cursor': col.cursor}" ng-class="{ 'ngSorted': !noSortVisible }" draggable="true" style="cursor: pointer;" class="ngHeaderSortColumn ng-user-ch__header ngSorted">
                            <div ng-click="col.sort($event)" ng-class="'colt' + col.index" class="ngHeaderText colt0"><span class="tbcell__text ng-binding"> </span>
                              <div ng-show="col.showSortButtonDown()" class="ngSortButtonDown ng-hide"></div>
                              <div ng-show="col.showSortButtonUp()" class="ngSortButtonUp ng-hide"></div>
                              <div class="activ-tc__bg"></div>
                            </div>
                            <div class="ngSortPriority ng-binding"></div>
                            <div ng-class="{ ngPinnedIcon: col.pinned, ngUnPinnedIcon: !col.pinned }" ng-click="togglePin(col)" ng-show="col.pinnable" class="ng-hide ngUnPinnedIcon"></div>
                          </div>
                          <div ng-show="col.resizable" ng-click="col.gripClick($event)" ng-mousedown="col.gripOnMouseDown($event)" class="ngHeaderGrip ng-hide"></div>
                        </div>
                        <!-- end ngRepeat: col in renderedColumns-->
                        <div ng-style="{ height: col.headerRowHeight }" ng-repeat="col in renderedColumns" ng-class="col.colIndex()" style="height: 40px;" class="ngHeaderCell ng-scope col1 colt1">
                          <div ng-style="{height: col.headerRowHeight}" ng-class="{ ngVerticalBarVisible: !$last }" style="height: 40px;" class="ngVerticalBar ngVerticalBarVisible"> </div>
                          <div ng-style="{'cursor': col.cursor}" ng-class="{ 'ngSorted': !noSortVisible }" draggable="true" style="cursor: pointer;" class="ngHeaderSortColumn ngSorted">
                            <div ng-click="col.sort($event)" ng-class="'colt' + col.index" class="ngHeaderText colt1"><span class="tbcell__text ng-binding">Name</span>
                              <div ng-show="col.showSortButtonDown()" class="ngSortButtonDown ng-hide"></div>
                              <div ng-show="col.showSortButtonUp()" class="ngSortButtonUp ng-hide"></div>
                              <div class="activ-tc__bg"></div>
                            </div>
                            <div class="ngSortPriority ng-binding"></div>
                            <div ng-class="{ ngPinnedIcon: col.pinned, ngUnPinnedIcon: !col.pinned }" ng-click="togglePin(col)" ng-show="col.pinnable" class="ng-hide ngUnPinnedIcon"></div>
                          </div>
                          <div ng-show="col.resizable" ng-click="col.gripClick($event)" ng-mousedown="col.gripOnMouseDown($event)" class="ngHeaderGrip ng-hide"></div>
                        </div>
                        <!-- end ngRepeat: col in renderedColumns-->
                        <div ng-style="{ height: col.headerRowHeight }" ng-repeat="col in renderedColumns" ng-class="col.colIndex()" style="height: 40px;" class="ngHeaderCell ng-scope col2 colt2">
                          <div ng-style="{height: col.headerRowHeight}" ng-class="{ ngVerticalBarVisible: !$last }" style="height: 40px;" class="ngVerticalBar ngVerticalBarVisible"> </div>
                          <div ng-style="{'cursor': col.cursor}" ng-class="{ 'ngSorted': !noSortVisible }" draggable="true" style="cursor: pointer;" class="ngHeaderSortColumn ngSorted">
                            <div ng-click="col.sort($event)" ng-class="'colt' + col.index" class="ngHeaderText colt2"><span class="tbcell__text ng-binding">Amount</span>
                              <div ng-show="col.showSortButtonDown()" class="ngSortButtonDown ng-hide"></div>
                              <div ng-show="col.showSortButtonUp()" class="ngSortButtonUp ng-hide"></div>
                              <div class="activ-tc__bg"></div>
                            </div>
                            <div class="ngSortPriority ng-binding"></div>
                            <div ng-class="{ ngPinnedIcon: col.pinned, ngUnPinnedIcon: !col.pinned }" ng-click="togglePin(col)" ng-show="col.pinnable" class="ng-hide ngUnPinnedIcon"></div>
                          </div>
                          <div ng-show="col.resizable" ng-click="col.gripClick($event)" ng-mousedown="col.gripOnMouseDown($event)" class="ngHeaderGrip ng-hide"></div>
                        </div>
                        <!-- end ngRepeat: col in renderedColumns-->
                        <div ng-style="{ height: col.headerRowHeight }" ng-repeat="col in renderedColumns" ng-class="col.colIndex()" style="height: 40px;" class="ngHeaderCell ng-scope col3 colt3 ng-user-add__wr">
                          <div ng-style="{height: col.headerRowHeight}" ng-class="{ ngVerticalBarVisible: !$last }" style="height: 40px;" class="ngVerticalBar"> </div>
                          <div ng-style="{'cursor': col.cursor}" ng-class="{ 'ngSorted': !noSortVisible }" draggable="true" style="cursor: pointer;" class="ngHeaderSortColumn ng-user-add__header ngSorted">
                            <div ng-click="col.sort($event)" ng-class="'colt' + col.index" class="ngHeaderText colt3"><span class="tbcell__text ng-binding">Edit</span>
                              <div ng-show="col.showSortButtonDown()" class="ngSortButtonDown ng-hide"></div>
                              <div ng-show="col.showSortButtonUp()" class="ngSortButtonUp ng-hide"></div>
                              <div class="activ-tc__bg"></div>
                            </div>
                            <div class="ngSortPriority ng-binding"></div>
                            <div ng-class="{ ngPinnedIcon: col.pinned, ngUnPinnedIcon: !col.pinned }" ng-click="togglePin(col)" ng-show="col.pinnable" class="ng-hide ngUnPinnedIcon"></div>
                          </div>
                          <div ng-show="col.resizable" ng-click="col.gripClick($event)" ng-mousedown="col.gripOnMouseDown($event)" class="ngHeaderGrip ng-hide"></div>
                        </div>
                        <!-- end ngRepeat: col in renderedColumns-->
                      </div>
                    </div>
                    <div ng-grid-menu="">
                      <div ng-show="showColumnMenu || showFilter" ng-click="toggleShowMenu()" class="ngHeaderButton ng-scope ng-hide">
                        <div class="ngHeaderButtonArrow"></div>
                      </div>
                      <div ng-show="showMenu" class="ngColMenu ng-scope ng-hide">
                        <div ng-show="showFilter" class="ng-hide">
                          <input placeholder="Search..." type="text" ng-model="filterText" class="ng-pristine ng-untouched ng-valid">
                        </div>
                        <div ng-show="showColumnMenu" class="ng-hide"><span class="ngMenuText ng-binding">Choose Columns:</span>
                          <ul class="ngColList">
                            <!-- ngRepeat: col in columns | ngColumns-->
                            <li ng-repeat="col in columns | ngColumns" class="ngColListItem ng-scope">
                              <label class="ng-binding">
                                <input ng-disabled="col.pinned" type="checkbox" ng-model="col.visible" class="ngColListCheckbox ng-pristine ng-untouched ng-valid">
                              </label><a title="Group By" ng-class="col.groupedByClass()" ng-show="col.groupable &amp;&amp; col.visible" ng-click="groupBy(col)" class="ngGroupIcon"></a><span ng-show="col.groupIndex &gt; 0" class="ngGroupingNumber ng-binding ng-hide">0</span>
                            </li>
                            <!-- end ngRepeat: col in columns | ngColumns-->
                            <li ng-repeat="col in columns | ngColumns" class="ngColListItem ng-scope">
                              <label class="ng-binding">
                                <input ng-disabled="col.pinned" type="checkbox" ng-model="col.visible" class="ngColListCheckbox ng-pristine ng-untouched ng-valid">Name
                              </label><a title="Group By" ng-class="col.groupedByClass()" ng-show="col.groupable &amp;&amp; col.visible" ng-click="groupBy(col)" class="ngGroupIcon"></a><span ng-show="col.groupIndex &gt; 0" class="ngGroupingNumber ng-binding ng-hide">0</span>
                            </li>
                            <!-- end ngRepeat: col in columns | ngColumns-->
                            <li ng-repeat="col in columns | ngColumns" class="ngColListItem ng-scope">
                              <label class="ng-binding">
                                <input ng-disabled="col.pinned" type="checkbox" ng-model="col.visible" class="ngColListCheckbox ng-pristine ng-untouched ng-valid">Amount
                              </label><a title="Group By" ng-class="col.groupedByClass()" ng-show="col.groupable &amp;&amp; col.visible" ng-click="groupBy(col)" class="ngGroupIcon"></a><span ng-show="col.groupIndex &gt; 0" class="ngGroupingNumber ng-binding ng-hide">0</span>
                            </li>
                            <!-- end ngRepeat: col in columns | ngColumns-->
                            <li ng-repeat="col in columns | ngColumns" class="ngColListItem ng-scope">
                              <label class="ng-binding">
                                <input ng-disabled="col.pinned" type="checkbox" ng-model="col.visible" class="ngColListCheckbox ng-pristine ng-untouched ng-valid">Edit
                              </label><a title="Group By" ng-class="col.groupedByClass()" ng-show="col.groupable &amp;&amp; col.visible" ng-click="groupBy(col)" class="ngGroupIcon"></a><span ng-show="col.groupIndex &gt; 0" class="ngGroupingNumber ng-binding ng-hide">0</span>
                            </li>
                            <!-- end ngRepeat: col in columns | ngColumns-->
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div unselectable="on" ng-viewport="" ng-class="{'ui-widget-content': jqueryUITheme}" ng-style="viewportStyle()" tabindex="1" style="width: 767px; height: 458px;" class="ngViewport ng-scope ui-widget-content">
                    <div ng-style="canvasStyle()" style="height: 600px;" class="ngCanvas">
                      <div class="grid-massage">Empty, empty, empty!!!!</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="btn-group_horizontal btn-group_right">
              <button type="button" class="btn btn-primary">Save</button>
              <button type="button" class="btn btn-primary">Approve</button><a href="payout.html" type="button" class="btn btn-default">Cancel</a>
            </div>
          </div>
        </div>
      </main>
      <!-- end main Content-->
      <!-- Footer-->
      <footer class="main-footer clearfix js-footer__ht">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 copyright-block">
              <p class="copyright-block__text">&copy; 2015 Prego uPay. All Rights Reseved</p>
            </div>
            <div class="col-sm-6">
              <ul class="footer-nav">
                <li class="footer-nav__li"><a href="" class="footer-nav__link">Support</a></li>
                <li class="footer-nav__li"><a href="" class="footer-nav__link">Terms of Use</a></li>
                <li class="footer-nav__li"><a href="" class="footer-nav__link">Contact</a></li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
      <!-- end Footer-->
    </div>
    <!-- end #page-content-wrapper-->
  </body>
</html>
