new-payout-modal.html

<div class="modal-content">
  <form>
    <div class="modal-header">
      <h4 id="NewPayoutLabel" class="modal-title">New Payout</h4>
    </div>
    <div class="modal-body">
      <div class="radio">
        <div class="form-group">
          <label>
            <input id="optionsRadios2" type="radio" name="optionsRadios" value="option2"/>Copy from a previous Payout
          </label>
        </div>
        <div class="form-group new-payout-select__wr">
          <select class="form-control">
            <option value="0">Salary for May 11-17, 2015 -11 Members - Paid</option>
            <option value="1">Salary for May 11-17, 2016 -11 Members - Paid</option>
            <option value="2">Salary for May 11-17, 2017 -11 Members - Paid</option>
            <option value="3">Salary for May 11-17, 2018 -11 Members - Paid</option>
          </select>
        </div>
      </div>
      <div class="radio">
        <label>
          <input id="optionsRadios3" type="radio" name="optionsRadios" value="option3"/>Start new Payout from Skratch
        </label>
      </div>
      <div class="btn-group_horizontal btn-group_right"><a href="new-payout.html" class="btn btn-default">Create payout</a>
        <button class="btn btn-primary">Cancel</button>
      </div>
    </div>
  </form>
</div>

templates/pages/new-payout-modal.jade
.modal-content
  form
    .modal-header
      //- button.close.modal__close(type='button', data-dismiss='modal', aria-label='Close')
      //-   span(aria-hidden='true') &times;
      h4#NewPayoutLabel.modal-title New Payout
    .modal-body
      .radio
        .form-group
          label
            input#optionsRadios2(type='radio', name='optionsRadios', value='option2')
            | Copy from a previous Payout
        .form-group.new-payout-select__wr
          select.form-control
            option(value="0") Salary for May 11-17, 2015 -11 Members - Paid
            option(value="1") Salary for May 11-17, 2016 -11 Members - Paid
            option(value="2") Salary for May 11-17, 2017 -11 Members - Paid
            option(value="3") Salary for May 11-17, 2018 -11 Members - Paid
      .radio
        label
          input#optionsRadios3(type='radio', name='optionsRadios', value='option3')
          | Start new Payout from Skratch
      .btn-group_horizontal.btn-group_right
        a.btn.btn-default(href="new-payout.html") Create payout
        button.btn.btn-primary Cancel
