templates/pages/sign-up-2.jade
extends ../layouts/default

block head
  - pageTitle = 'uPay Sign up 2';

block authorisedMenu
  - authorisedMenu = false;

block wr
  - authorisation = "log-out"

block ng
  - var ngApp = "myApp";
  - var ngController = "MyCtrl2";

block append js
  script(src='js/ng-payout.js')

block content
  .inner-page.js-minHt
    .container
      .center-min-block.center-md-bl.center-rel-wr__for-right-hint
        .center-min-block__body.clearfix

          .loginbox
            block sign-up-caption
              include ../blocks/sign-up-caption
            .left-form-block__wr
              header.center-min-block__header.row
                h2.center-min-block__header-title.col-xs-9
                  .pull-left.center-min-block__header-icon_wr
                    img.center-min-block__header-icon(src="img/bag-img.png", alt="")
                  span.center-min-block__header-title_text  Company details

              form.form-horizontal(name="login", action="/login", method="post")
                .form-group
                  label.control-label.col-sm-3(for="inputCompanyName") Company Name
                  .col-sm-9
                    input.form-control#inputCompanyName(value="Koninklijke Philips", type="text", name="CompanyName", placeholder="Company Name", required)

                .form-group
                  label.control-label.col-sm-3(for="inputRegistrationNo") Registration No.
                  .col-sm-9
                    input.form-control#inputRegistrationNo(value="PR123456", type="text", name="RegistrationNo", placeholder="Registration No.", required)

                .form-group.form-group__some-controls
                  label.control-label.col-sm-3(for="inputCompanyAddress") Company Address
                  .col-sm-9
                    .row
                      .form-group__inner.col-sm-12.has-error.has-feedback
                        input.form-control#inputCompanyAddress(value="", type="text", name="CompanyAddress", placeholder="Street Address", required)
                        span.sr-only#inputCompanyAddress
                          | Error Error Error Error Error Error Error
                        span.help-block.help-blok__message
                          | Error Error Error Error Error Error Error Error Error Error Error Error Error Error!!!!
                    .row
                      .form-group__inner.col-sm-4.has-error.has-feedback
                        input.form-control#inputCompanyCity(value="", type="text", name="City", placeholder="City", required)
                        span.sr-only#inputCompanyCity
                          | Error Error Error Error Error Error Error
                        span.help-block.help-blok__message
                          | Error Error Error Error Error Error Error Error!!!!

                      .form-group__inner.col-sm-4.has-error.has-feedback
                        input.form-control#inputCompanyPostalCode(value="", type="text", name="PostalCode", placeholder="Postal Code", required)
                        span.sr-only#inputCompanyPostalCode
                          | Error Error Error Error Error Error Error
                        span.help-block.help-blok__message
                          | Error Error Error Error Error Error Error Error!!!!

                      .form-group__inner.col-sm-4.has-success.has-feedback
                        select.form-control#inputCompanyCountry(data-jcf='{"wrapNative": false, "wrapNativeOnMobile": true, "fakeDropInBody": false, "useCustomScroll": false}')
                          option(value="0") Country
                          option(value="1") USA
                          option(value="2") Russia
                          option(value="3") Spain
                        span.sr-only#inputCompanyCountry
                          | Success
                        span.help-block.help-blok__message
                          | Success!!!!

                .form-group
                  label.control-label.col-sm-3(for="inputWebAddress") Web address
                  .col-sm-9
                    input.form-control#inputWebAddress(value="upaycorporate.com", type="text", name="WebAddress", placeholder="Web address", required)

                .form-group
                  label.control-label.col-sm-3(for="inputFirstName") First Name
                  .col-sm-9
                    input.form-control#inputFirstName(value="", type="text", name="FirstName", placeholder="First Name", required)

                .form-group
                  label.control-label.col-sm-3(for="inputFamilyName") Family Name
                  .col-sm-9
                    input.form-control#inputFamilyName(value="", type="text", name="FamilyName", placeholder="Family Name", required)

                .form-group
                  label.control-label.col-sm-3(for="inputCompanyPosition") Company Position
                  .col-sm-9
                    input.form-control#inputCompanyPosition(value="", type="text", name="CompanyPosition", placeholder="Company Position", required)

                .form-group
                  label.control-label.col-sm-3(for="inputMobileNo") Mobile No.
                  .col-sm-9
                    input.form-control#inputMobileNo(value="", type="phone", name="MobileNo", placeholder="Mobile No.", required)

                .form-group
                  label.control-label.col-sm-3(for="inputEmail") E-mail
                  .col-sm-9
                    input.form-control#inputEmail(type="email", name="email", placeholder="E-mail", required)

                .form-group
                  .col-sm-9.col-sm-offset-3
                    .sign-up__form-btn_wr
                      // button.btn.btn-primary.sign-up__form-btn.btn-primary.disabled(type="submit") Send
                      a.btn.btn-primary.sign-up__form-btn.btn-primary(href="sign-up-3.html") Continue

sign-up-2.html
<!DOCTYPE html><!--[if IE 8]>
<html lang="en-US" class="no-js lt-ie9">
<![endif]-->
<!--[if IE 9]>
<html lang="en-US" class="no-js ie9">
<![endif]-->
<html lang="en-US" ng-app="myApp" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="favicon/favicon.ico" type="web/image/pngIllegal return statement">
    <title>uPay Sign up 2</title>
    <meta name="description">
    <meta name="keywords">
    <meta name="copyright">
    <!-- bower_components__styles-->
    <link href="bower_components/ng-grid-bower/ng-grid.min.css" rel="stylesheet">
    <link href="bower_components/ngDialog/css/ngDialog.min.css" rel="stylesheet">
    <link href="bower_components/ngDialog/css/ngDialog-theme-default.min.css" rel="stylesheet">
    <link href="bower_components/ngDialog/css/ngDialog-theme-plain.min.css" rel="stylesheet">
    <!-- end bower_components__styles-->
    <!-- main__styles-->
    <link href="css/ng-grid.css" rel="stylesheet">
    <link href="css/ng-tags-input-custom.css" rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/css/bootstrap-select.min.css">
    <link href="css/style.css" rel="stylesheet">
    <!-- end  main__styles-->
    <!-- bower_components__js-->
    <script src="bower_components/modernizr/modernizr.js"></script>
    <script src="bower_components/respond/dest/respond.min.js"></script>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/ng-grid-bower/ng-grid.debug.js"></script>
    <script src="bower_components/ng-tags-input/ng-tags-input.js"></script>
    <script src="bower_components/ngDialog/js/ngDialog.min.js"></script>
    <script src="bower_components/ng-file-upload/ng-file-upload-all.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/js/bootstrap-select.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="bower_components/jcf/js/jcf.js"></script>
    <script src="bower_components/jcf/js/jcf.select.js"></script>
    <!-- end bower_components__js-->
    <!-- main__js-->
    <script src="js/main.js"></script>
    <!-- end main__js-->
    <script src="js/ng-payout.js"></script>
  </head>
  <body ng-controller="MyCtrl2" class="desktop-detected">
    <!-- Header-->
    <header class="main-header js-header__ht">
      <div class="navbar-top clearfix">
        <div class="container">
          <div class="row">
            <div class="col-xs-6"><a id="menu-toggle" href="#menu-toggle" class="sb-toggle-left">
                <div class="menu_icon">
                  <div class="navicon-line"></div>
                  <div class="navicon-line"></div>
                  <div class="navicon-line"></div>
                </div></a>
              <h1 class="logo-wrapper"><a href="index.html" class="logo"><img src="img/logo.png" alt="" class="img-responsive"></a></h1>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- end Header-->
    <!-- #page-content-wrapper-->
    <div id="page-content-wrapper" class="log-out">
      <!-- Main content-->
      <main class="main-content js-minHt js-Ht">
        <div class="inner-page js-minHt">
          <div class="container">
            <div class="center-min-block center-md-bl center-rel-wr__for-right-hint">
              <div class="center-min-block__body clearfix">
                <div class="loginbox">
                  <div class="right-form-caption-block__wr">
                    <div class="sign-up-caption">
                      <h3 class="sign-up-caption__title">Lorem Ipsum</h3>
                      <div class="sign-up-caption__body">
                        <p>We  want to have the possibility to add some information here and have more freedom in this section, see example here: </p><a href="">http://www.pregoint.com/about-us/company-mission-values</a>
                        <ul>
                          <li>Have the possibility to add text with bullet points.</li>
                          <li>Make Bullet points with blue marker like example here.</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="left-form-block__wr">
                    <header class="center-min-block__header row">
                      <h2 class="center-min-block__header-title col-xs-9">
                        <div class="pull-left center-min-block__header-icon_wr"><img src="img/bag-img.png" alt="" class="center-min-block__header-icon"></div><span class="center-min-block__header-title_text"> Company details</span>
                      </h2>
                    </header>
                    <form name="login" action="/login" method="post" class="form-horizontal">
                      <div class="form-group">
                        <label for="inputCompanyName" class="control-label col-sm-3">Company Name</label>
                        <div class="col-sm-9">
                          <input id="inputCompanyName" value="Koninklijke Philips" type="text" name="CompanyName" placeholder="Company Name" required class="form-control">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="inputRegistrationNo" class="control-label col-sm-3">Registration No.</label>
                        <div class="col-sm-9">
                          <input id="inputRegistrationNo" value="PR123456" type="text" name="RegistrationNo" placeholder="Registration No." required class="form-control">
                        </div>
                      </div>
                      <div class="form-group form-group__some-controls">
                        <label for="inputCompanyAddress" class="control-label col-sm-3">Company Address</label>
                        <div class="col-sm-9">
                          <div class="row">
                            <div class="form-group__inner col-sm-12 has-error has-feedback">
                              <input id="inputCompanyAddress" value="" type="text" name="CompanyAddress" placeholder="Street Address" required class="form-control"><span id="inputCompanyAddress" class="sr-only">Error Error Error Error Error Error Error</span><span class="help-block help-blok__message">Error Error Error Error Error Error Error Error Error Error Error Error Error Error!!!!</span>
                            </div>
                          </div>
                          <div class="row">
                            <div class="form-group__inner col-sm-4 has-error has-feedback">
                              <input id="inputCompanyCity" value="" type="text" name="City" placeholder="City" required class="form-control"><span id="inputCompanyCity" class="sr-only">Error Error Error Error Error Error Error</span><span class="help-block help-blok__message">Error Error Error Error Error Error Error Error!!!!</span>
                            </div>
                            <div class="form-group__inner col-sm-4 has-error has-feedback">
                              <input id="inputCompanyPostalCode" value="" type="text" name="PostalCode" placeholder="Postal Code" required class="form-control"><span id="inputCompanyPostalCode" class="sr-only">Error Error Error Error Error Error Error</span><span class="help-block help-blok__message">Error Error Error Error Error Error Error Error!!!!</span>
                            </div>
                            <div class="form-group__inner col-sm-4 has-success has-feedback">
                              <select id="inputCompanyCountry" data-jcf="{&quot;wrapNative&quot;: false, &quot;wrapNativeOnMobile&quot;: true, &quot;fakeDropInBody&quot;: false, &quot;useCustomScroll&quot;: false}" class="form-control">
                                <option value="0">Country</option>
                                <option value="1">USA</option>
                                <option value="2">Russia</option>
                                <option value="3">Spain</option>
                              </select><span id="inputCompanyCountry" class="sr-only">Success</span><span class="help-block help-blok__message">Success!!!!</span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="inputWebAddress" class="control-label col-sm-3">Web address</label>
                        <div class="col-sm-9">
                          <input id="inputWebAddress" value="upaycorporate.com" type="text" name="WebAddress" placeholder="Web address" required class="form-control">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="inputFirstName" class="control-label col-sm-3">First Name</label>
                        <div class="col-sm-9">
                          <input id="inputFirstName" value="" type="text" name="FirstName" placeholder="First Name" required class="form-control">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="inputFamilyName" class="control-label col-sm-3">Family Name</label>
                        <div class="col-sm-9">
                          <input id="inputFamilyName" value="" type="text" name="FamilyName" placeholder="Family Name" required class="form-control">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="inputCompanyPosition" class="control-label col-sm-3">Company Position</label>
                        <div class="col-sm-9">
                          <input id="inputCompanyPosition" value="" type="text" name="CompanyPosition" placeholder="Company Position" required class="form-control">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="inputMobileNo" class="control-label col-sm-3">Mobile No.</label>
                        <div class="col-sm-9">
                          <input id="inputMobileNo" value="" type="phone" name="MobileNo" placeholder="Mobile No." required class="form-control">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="inputEmail" class="control-label col-sm-3">E-mail</label>
                        <div class="col-sm-9">
                          <input id="inputEmail" type="email" name="email" placeholder="E-mail" required class="form-control">
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-sm-9 col-sm-offset-3">
                          <div class="sign-up__form-btn_wr">
                            <!-- button.btn.btn-primary.sign-up__form-btn.btn-primary.disabled(type="submit") Send--><a href="sign-up-3.html" class="btn btn-primary sign-up__form-btn btn-primary">Continue</a>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
      <!-- end main Content-->
      <!-- Footer-->
      <footer class="main-footer clearfix js-footer__ht">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 copyright-block">
              <p class="copyright-block__text">&copy; 2015 Prego uPay. All Rights Reseved</p>
            </div>
            <div class="col-sm-6">
              <ul class="footer-nav">
                <li class="footer-nav__li"><a href="" class="footer-nav__link">Support</a></li>
                <li class="footer-nav__li"><a href="" class="footer-nav__link">Terms of Use</a></li>
                <li class="footer-nav__li"><a href="" class="footer-nav__link">Contact</a></li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
      <!-- end Footer-->
    </div>
    <!-- end #page-content-wrapper-->
  </body>
</html>
