upload-payout-modal.html

<div class="modal-content">
  <form>
    <div class="modal-header">
      <h4 id="NewPayoutLabel" class="modal-title">upload from file</h4>
    </div>
    <div class="modal-body">
      <div class="clearfix">
        <div class="form-group">
          <div class="form-icon-group"><span class="form-icon"><i class="icon i-download"></i></span>
            <input type="text" placeholder="File nema" value="{{file_.name}}" ngf-select="" ngf-change="upload($files)" ngf-multiple="multiple" class="form-control"/>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <div class="row">
            <div class="col-xs-10">
              <div class="progress progress-default">
                <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: {{progress}}" class="progress-bar progress-bar-default"></div>
              </div>
            </div>
            <div class="col-xs-2">{{progress}}</div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="btn-group_horizontal btn-group_right">
            <button type="button" ng-click="clickImportCompleted()" class="btn btn-primary">Next</button>
            <button type="button" ng-click="closeThisDialog()" class="btn btn-default">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

templates/pages/upload-payout-modal.jade
.modal-content
  form
    .modal-header
      h4#NewPayoutLabel.modal-title upload from file
    .modal-body
      .clearfix
        .form-group
          .form-icon-group
            span.form-icon: i.icon.i-download
            input(type="text", placeholder="File nema", value="{{file_.name}}", ngf-select='', ngf-change='upload($files)', ngf-multiple='multiple').form-control
      .row
        .col-md-8
          .row
            .col-xs-10
              .progress.progress-default
                .progress-bar.progress-bar-default(role='progressbar', aria-valuenow='0', aria-valuemin='0', aria-valuemax='100', style='width: {{progress}}')
            .col-xs-2 {{progress}}
        .col-md-4
          .btn-group_horizontal.btn-group_right
            button.btn.btn-primary(type="button", ng-click="clickImportCompleted()") Next
            button(type="button", ng-click="closeThisDialog()").btn.btn-default Cancel
