templates/pages/upload-import-completed-modal.jade
.modal-content
  form
    .modal-header
      h4#ImportCompleted.modal-title Import completed
    .modal-body
      .clearfix
        p 15 Payput records were imported
        hr
        p 7 Records were skipped
        .btn-group_horizontal.btn-group_right
          button(type="button", ng-click="closeThisDialog()").btn.btn-primary Ok

upload-import-completed-modal.html

<div class="modal-content">
  <form>
    <div class="modal-header">
      <h4 id="ImportCompleted" class="modal-title">Import completed</h4>
    </div>
    <div class="modal-body">
      <div class="clearfix">
        <p>15 Payput records were imported</p>
        <hr/>
        <p>7 Records were skipped</p>
        <div class="btn-group_horizontal btn-group_right">
          <button type="button" ng-click="closeThisDialog()" class="btn btn-primary">Ok</button>
        </div>
      </div>
    </div>
  </form>
</div>
