company-details.html
<!DOCTYPE html><!--[if IE 8]>
<html lang="en-US" class="no-js lt-ie9">
<![endif]-->
<!--[if IE 9]>
<html lang="en-US" class="no-js ie9">
<![endif]-->
<html lang="en-US" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="favicon/favicon.ico" type="web/image/pngIllegal return statement">
    <title></title>
    <meta name="description">
    <meta name="keywords">
    <meta name="copyright">
    <!-- bower_components__styles-->
    <link href="bower_components/ng-grid-bower/ng-grid.min.css" rel="stylesheet">
    <link href="bower_components/ngDialog/css/ngDialog.min.css" rel="stylesheet">
    <link href="bower_components/ngDialog/css/ngDialog-theme-default.min.css" rel="stylesheet">
    <link href="bower_components/ngDialog/css/ngDialog-theme-plain.min.css" rel="stylesheet">
    <!-- end bower_components__styles-->
    <!-- main__styles-->
    <link href="css/ng-grid.css" rel="stylesheet">
    <link href="css/ng-tags-input-custom.css" rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/css/bootstrap-select.min.css">
    <link href="css/style.css" rel="stylesheet">
    <!-- end  main__styles-->
    <!-- bower_components__js-->
    <script src="bower_components/modernizr/modernizr.js"></script>
    <script src="bower_components/respond/dest/respond.min.js"></script>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/ng-grid-bower/ng-grid.debug.js"></script>
    <script src="bower_components/ng-tags-input/ng-tags-input.js"></script>
    <script src="bower_components/ngDialog/js/ngDialog.min.js"></script>
    <script src="bower_components/ng-file-upload/ng-file-upload-all.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/js/bootstrap-select.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="bower_components/jcf/js/jcf.js"></script>
    <script src="bower_components/jcf/js/jcf.select.js"></script>
    <!-- end bower_components__js-->
    <!-- main__js-->
    <script src="js/main.js"></script>
    <!-- end main__js-->
  </head>
  <body class="desktop-detected">
    <!-- Header-->
    <header class="main-header js-header__ht">
      <div class="navbar-top clearfix">
        <div class="container">
          <div class="row">
            <div class="col-xs-6"><a id="menu-toggle" href="#menu-toggle" class="sb-toggle-left">
                <div class="menu_icon">
                  <div class="navicon-line"></div>
                  <div class="navicon-line"></div>
                  <div class="navicon-line"></div>
                </div></a>
              <h1 class="logo-wrapper"><a href="index.html" class="logo"><img src="img/logo.png" alt="" class="img-responsive"></a></h1>
            </div>
            <div class="col-xs-6 authorisation__menu">
              <div class="authorisation__menu_authorised">
                <div class="user-alerts-wr">
                  <div class="dropdown user-alerts__dropdown"><a data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false" class="icon i-bell i-bell_empty"></a>
                    <div role="menu" aria-labelledby="dLabel" data-toggle="no-collapse" class="dropdown-menu user-alerts__menu">
                      <div class="notifications_dd">notifications</div>
                      <ul>
                        <li role="alert" class="alert fade in">
                          <button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true">&times;</span></button>
                          <p class="alert__massage-error">Payment Error - Account No. 647885900</p>
                        </li>
                        <li role="alert" class="alert fade in">
                          <button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true">&times;</span></button>
                          <p class="alert__massage-edded">New payment was added.</p>
                        </li>
                        <li role="alert" class="alert fade in">
                          <button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true">&times;</span></button>
                          <p class="alert__massage-approved">Payment No.123456 is approved.</p>
                        </li>
                        <li role="alert" class="alert fade in">
                          <button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true">&times;</span></button>
                          <p class="alert__massage-approved">Your password was recently updated. Please complete your security questions.</p>
                        </li>
                      </ul>
                    </div>
                  </div><span class="badge alert-count">46</span>
                </div>
                <div class="user-avatar-wr"><a href="" class="user-avatar"><img src="img/no-user-photo.png" alt=""></a>
                  <div class="user-status user-status_avatar"></div>
                </div>
                <div class="dropdown user-dropdown"><a id="dLabel" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false" class="user-dropdown__btn"><span class="user-name">James K.</span><span class="icon i-arrow-bottom user-dropdown__carret"></span></a>
                  <div role="menu" aria-labelledby="dLabel" class="dropdown-menu user-dropdown__menu">
                    <div class="dropdown__user-status"><a href="">
                        <div class="user-status user-status_dd"></div>Account Verification</a></div>
                    <ul>
                      <li><a href="company-details.html"><i class="icon i-company-information"></i>Company Information</a></li>
                      <li><a href="company-details.html"><i class="icon i-contact-person"></i>Contact Person</a></li>
                      <li><a href="company-details.html"><i class="icon i-change-password"></i>Change Password</a></li>
                      <li><a href="company-details.html"><i class="icon i-log-out-i"></i>Log Out</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- end Header-->
    <!-- #page-content-wrapper-->
    <div id="page-content-wrapper">
      <!-- Sidebar-->
      <aside id="sidebar-wrapper">
        <nav>
          <ul class="sidebar-nav">
            <li><a href="profile.html"><span class="icon"><span class="profile-img__wr"><img src="img/profil-img.png" alt="">
                    <div class="user-status user-status_avatar user-status_new-reg"></div></span></span>James K</a></li>
            <li><a href="index.html"><i class="icon i-dash-i"></i>dashboard</a></li>
            <li><a href="companies.html"><i class="icon i-companies-i"></i>Companies</a></li>
            <li><a href="members.html"><i class="icon i-people"></i>Members</a></li>
            <li><a href="payout.html"><i class="icon i-coin"></i>Payroll</a></li>
            <li><a href="reports.html"><i class="icon i-reporters-i"></i>Reports</a></li>
            <li><a href="support.html"><i class="icon i-support-i"></i>Support</a></li>
          </ul>
        </nav>
      </aside>
      <!-- end Sidebar-->
      <!-- Main content-->
      <main class="main-content js-minHt js-Ht">
        <div class="container">
          <h2 class="page-title">Account</h2>
          <div class="main-account__section min-section min-section__br-bg">
            <div role="tabpanel">
              <!-- Nav tabs-->
              <ul role="tablist" class="nav nav-tabs min-section__pd">
                <li role="presentation" class="active"><a href="#CompanyDetails" aria-controls="CompanyDetails" role="tab" data-toggle="tab">Company Details</a></li>
                <li role="presentation"><a href="#ContactDetails" aria-controls="ContactDetails" role="tab" data-toggle="tab">Contact Details</a></li>
                <li role="presentation"><a href="#BankDetails" aria-controls="BankDetails" role="tab" data-toggle="tab">Bank Details</a></li>
                <li role="presentation"><a href="#ChangePassword" aria-controls="ChangePassword" role="tab" data-toggle="tab">Change Password</a></li>
                <li role="presentation"><a href="#ChangePin" aria-controls="ChangePin" role="tab" data-toggle="tab">ChangePin</a></li>
              </ul>
              <!-- Tab panes-->
              <div class="tab-content min-section__pd">
                <div id="CompanyDetails" role="tabpanel" class="tab-pane active fade in">
                  <div class="tabpanel_inner-width">
                    <form name="ChangeCompanyDetails" action="" method="post" class="form-horizontal">
                      <div class="form-group">
                        <label for="inputCompanyName" class="control-label col-sm-3">Company Name</label>
                        <div class="col-sm-9">
                          <input id="inputCompanyName" value="Koninklijke Philips" type="text" name="CompanyName" placeholder="Company Name" required class="form-control">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="inputRegistrationNo" class="control-label col-sm-3">Registration No.</label>
                        <div class="col-sm-9">
                          <input id="inputRegistrationNo" value="PR123456" type="text" name="RegistrationNo" placeholder="Registration No." required class="form-control">
                        </div>
                      </div>
                      <div class="form-group form-group__some-controls">
                        <label for="inputCompanyAddress" class="control-label col-sm-3">Company Address</label>
                        <div class="col-sm-9">
                          <div class="row">
                            <div class="form-group__inner col-sm-12">
                              <input id="inputCompanyAddress" value="" type="text" name="CompanyAddress" placeholder="Street Address" required class="form-control">
                            </div>
                          </div>
                          <div class="row">
                            <div class="form-group__inner col-sm-4">
                              <input id="inputCompanyCity" value="" type="text" name="City" placeholder="City" required class="form-control">
                            </div>
                            <div class="form-group__inner col-sm-4">
                              <input id="inputCompanyPostalCode" value="" type="text" name="PostalCode" placeholder="Postal Code" required class="form-control">
                            </div>
                            <div class="form-group__inner col-sm-4">
                              <select id="inputCompanyCountry" class="form-control">
                                <option value="0">Country</option>
                                <option value="1">USA</option>
                                <option value="2">Russia</option>
                                <option value="3">Spain</option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="inputWebAddress" class="control-label col-sm-3">Web address</label>
                        <div class="col-sm-9">
                          <input id="inputWebAddress" value="upaycorporate.com" type="text" name="WebAddress" placeholder="Web address" required class="form-control">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="inputFirstName" class="control-label col-sm-3">First Name</label>
                        <div class="col-sm-9">
                          <input id="inputFirstName" value="" type="text" name="FirstName" placeholder="First Name" required class="form-control">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="inputFamilyName" class="control-label col-sm-3">Family Name</label>
                        <div class="col-sm-9">
                          <input id="inputFamilyName" value="" type="text" name="FamilyName" placeholder="Family Name" required class="form-control">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="inputCompanyPosition" class="control-label col-sm-3">Company Position</label>
                        <div class="col-sm-9">
                          <input id="inputCompanyPosition" value="" type="text" name="CompanyPosition" placeholder="Company Position" required class="form-control">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="inputMobileNo" class="control-label col-sm-3">Mobile No.</label>
                        <div class="col-sm-9">
                          <input id="inputMobileNo" value="" type="phone" name="MobileNo" placeholder="Mobile No." required class="form-control">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="inputEmail" class="control-label col-sm-3">E-mail</label>
                        <div class="col-sm-9">
                          <input id="inputEmail" type="email" name="email" placeholder="E-mail" required class="form-control">
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-sm-9 col-sm-offset-3">
                          <div class="sign-up__form-btn_wr">
                            <button type="submit" class="btn btn-primary sign-up__form-btn btn-primary pull-right">Update</button>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                  <div class="tabpanel_inner-width">
                  </div>
                </div>
                <div id="ContactDetails" role="tabpanel" class="tab-pane fade">
                  <div class="tabpanel_inner-width">
                    <form name="ChangeContactDetails" action="" method="post" class="form-horizontal">
                      <div class="form-group form-group__some-controls">
                        <label for="inputContactAddress" class="control-label col-sm-3">Contact Address</label>
                        <div class="col-sm-9">
                          <div class="row">
                            <div class="form-group__inner col-sm-12">
                              <input id="inputContactAddress" value="" type="text" name="ContactAddress" placeholder="Street Address" required class="form-control">
                            </div>
                          </div>
                          <div class="row">
                            <div class="form-group__inner col-sm-4">
                              <input id="inputContactCity" value="" type="text" name="City" placeholder="City" required class="form-control">
                            </div>
                            <div class="form-group__inner col-sm-4">
                              <input id="inputContactPostalCode" value="" type="text" name="PostalCode" placeholder="Postal Code" required class="form-control">
                            </div>
                            <div class="form-group__inner col-sm-4">
                              <select id="inputContactCountry" class="form-control">
                                <option value="0">Country</option>
                                <option value="1">USA</option>
                                <option value="2">Russia</option>
                                <option value="3">Spain</option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="inputFirstName" class="control-label col-sm-3">First Name</label>
                        <div class="col-sm-9">
                          <input id="inputFirstName" value="" type="text" name="FirstName" placeholder="First Name" required class="form-control">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="inputFamilyName" class="control-label col-sm-3">Family Name</label>
                        <div class="col-sm-9">
                          <input id="inputFamilyName" value="" type="text" name="FamilyName" placeholder="Family Name" required class="form-control">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="inputContactPosition" class="control-label col-sm-3">Contact Position</label>
                        <div class="col-sm-9">
                          <input id="inputContactPosition" value="" type="text" name="ContactPosition" placeholder="Contact Position" required class="form-control">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="inputMobileNo" class="control-label col-sm-3">Mobile No.</label>
                        <div class="col-sm-9">
                          <input id="inputMobileNo" value="" type="phone" name="MobileNo" placeholder="Mobile No." required class="form-control">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="inputEmail" class="control-label col-sm-3">E-mail</label>
                        <div class="col-sm-9">
                          <input id="inputEmail" type="email" name="email" placeholder="E-mail" required class="form-control">
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-sm-9 col-sm-offset-3">
                          <div class="sign-up__form-btn_wr">
                            <button type="submit" class="btn btn-primary sign-up__form-btn btn-primary pull-right">Update</button>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
                <div id="BankDetails" role="tabpanel" class="tab-pane fade">
                  <div class="tabpanel_inner-width">
                    <h4>BankDetails</h4>
                    <div class="account__top-allert_wr">
                      <div role="alert" class="alert fade in alert-success account__top-allert"><i class="icon i-success"></i>Your changes have been saved.
                      </div>
                    </div>
                    <button type="button" data-toggle="modal" data-target="#confirmActionModal" class="btn btn-primary">Launch demo modal</button>
                    <!-- Modal-->
                    <div id="confirmActionModal" tabindex="-1" role="dialog" aria-labelledby="confirmActionLabel" aria-hidden="true" class="modal fade">
                      <div class="modal-dialog modal-md">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" data-dismiss="modal" aria-label="Close" class="close modal__close"><span aria-hidden="true">&times;</span></button>
                            <h4 id="confirmActionLabel" class="modal-title">Confirm Action</h4>
                          </div>
                          <div class="modal-body">You have attempted to leave this page. If you leave it now your progress will be lost. Are you sure you want to leave this page?</div>
                          <div class="modal-footer">
                            <button type="button" data-dismiss="modal" class="btn btn-default">Stay on page </button>
                            <button type="button" class="btn btn-primary">Leave page</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="ChangePassword" role="tabpanel" class="tab-pane fade">
                  <div class="tabpanel_inner-width">
                    <form name="ChangePin" action="" method="post" class="form-horizontal">
                      <div class="form-group">
                        <label for="inputPassword" class="control-label col-sm-3">Old Password</label>
                        <div class="col-sm-9">
                          <input id="inputPassword" type="password" name="OldPassword" required class="form-control">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="inputNewPassword" class="control-label col-sm-3">New Password</label>
                        <div class="col-sm-9">
                          <input id="inputNewPassword" type="password" name="NewPassword" required class="form-control">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="inputConfirmPassword" class="control-label col-sm-3">Confirm Password</label>
                        <div class="col-sm-9">
                          <input id="inputConfirmPassword" type="password" name="ConfirmPinCode" required class="form-control">
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-sm-9 col-sm-offset-3">
                          <div class="sign-up__form-btn_wr">
                            <button type="submit" class="btn btn-primary sign-up__form-btn btn-primary pull-right">Update</button>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
                <div id="ChangePin" role="tabpanel" class="tab-pane fade">
                  <div class="tabpanel_inner-width">
                    <form name="ChangePin" action="" method="post" class="form-horizontal">
                      <div class="form-group">
                        <label for="inputOldPinCode" class="control-label col-sm-3">Old Pin Code</label>
                        <div class="col-sm-9">
                          <input id="inputOldPinCode" type="password" name="OldPinCode" required class="form-control">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="inputNewPinCode" class="control-label col-sm-3">New Pin Code</label>
                        <div class="col-sm-9">
                          <input id="inputNewPinCode" type="password" name="NewPinCode" required class="form-control">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="inputConfirmPinCode" class="control-label col-sm-3">Confirm Pin Code</label>
                        <div class="col-sm-9">
                          <input id="inputConfirmPinCode" type="password" name="ConfirmPinCode" required class="form-control">
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-sm-9 col-sm-offset-3">
                          <div class="sign-up__form-btn_wr">
                            <button type="submit" class="btn btn-primary sign-up__form-btn btn-primary pull-right">Update</button>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
      <!-- end main Content-->
      <!-- Footer-->
      <footer class="main-footer clearfix js-footer__ht">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 copyright-block">
              <p class="copyright-block__text">&copy; 2015 Prego uPay. All Rights Reseved</p>
            </div>
            <div class="col-sm-6">
              <ul class="footer-nav">
                <li class="footer-nav__li"><a href="" class="footer-nav__link">Support</a></li>
                <li class="footer-nav__li"><a href="" class="footer-nav__link">Terms of Use</a></li>
                <li class="footer-nav__li"><a href="" class="footer-nav__link">Contact</a></li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
      <!-- end Footer-->
    </div>
    <!-- end #page-content-wrapper-->
  </body>
</html>

templates/blocks/company-details.jade
form.form-horizontal(name="ChangeCompanyDetails", action="", method="post")
  .form-group
    label.control-label.col-sm-3(for="inputCompanyName") Company Name
    .col-sm-9
      input.form-control#inputCompanyName(value="Koninklijke Philips", type="text", name="CompanyName", placeholder="Company Name", required)

  .form-group
    label.control-label.col-sm-3(for="inputRegistrationNo") Registration No.
    .col-sm-9
      input.form-control#inputRegistrationNo(value="PR123456", type="text", name="RegistrationNo", placeholder="Registration No.", required)

  .form-group.form-group__some-controls
    label.control-label.col-sm-3(for="inputCompanyAddress") Company Address
    .col-sm-9
      .row
        //- .form-group__inner.col-sm-12.has-error.has-feedback
        .form-group__inner.col-sm-12
          input.form-control#inputCompanyAddress(value="", type="text", name="CompanyAddress", placeholder="Street Address", required)
          //- span.sr-only#inputCompanyAddress
          //-   | Error Error Error Error Error Error Error
          //- span.help-block.help-blok__message
          //-   | Error Error Error Error Error Error Error Error Error Error Error Error Error Error!!!!
      .row
        //- .form-group__inner.col-sm-4.has-error.has-feedback
        .form-group__inner.col-sm-4
          input.form-control#inputCompanyCity(value="", type="text", name="City", placeholder="City", required)
          //- span.sr-only#inputCompanyCity
          //-   | Error Error Error Error Error Error Error
          //- span.help-block.help-blok__message
          //-   | Error Error Error Error Error Error Error Error!!!!

        //- .form-group__inner.col-sm-4.has-error.has-feedback
        .form-group__inner.col-sm-4
          input.form-control#inputCompanyPostalCode(value="", type="text", name="PostalCode", placeholder="Postal Code", required)
          //- span.sr-only#inputCompanyPostalCode
          //-   | Error Error Error Error Error Error Error
          //- span.help-block.help-blok__message
          //-   | Error Error Error Error Error Error Error Error!!!!

        //- .form-group__inner.col-sm-4.has-success.has-feedback
        .form-group__inner.col-sm-4
          select.form-control#inputCompanyCountry
            option(value="0") Country
            option(value="1") USA
            option(value="2") Russia
            option(value="3") Spain
          //- span.sr-only#inputCompanyCountry
          //-   | Success
          //- span.help-block.help-blok__message
          //-   | Success!!!!

  .form-group
    label.control-label.col-sm-3(for="inputWebAddress") Web address
    .col-sm-9
      input.form-control#inputWebAddress(value="upaycorporate.com", type="text", name="WebAddress", placeholder="Web address", required)

  .form-group
    label.control-label.col-sm-3(for="inputFirstName") First Name
    .col-sm-9
      input.form-control#inputFirstName(value="", type="text", name="FirstName", placeholder="First Name", required)

  .form-group
    label.control-label.col-sm-3(for="inputFamilyName") Family Name
    .col-sm-9
      input.form-control#inputFamilyName(value="", type="text", name="FamilyName", placeholder="Family Name", required)

  .form-group
    label.control-label.col-sm-3(for="inputCompanyPosition") Company Position
    .col-sm-9
      input.form-control#inputCompanyPosition(value="", type="text", name="CompanyPosition", placeholder="Company Position", required)

  .form-group
    label.control-label.col-sm-3(for="inputMobileNo") Mobile No.
    .col-sm-9
      input.form-control#inputMobileNo(value="", type="phone", name="MobileNo", placeholder="Mobile No.", required)

  .form-group
    label.control-label.col-sm-3(for="inputEmail") E-mail
    .col-sm-9
      input.form-control#inputEmail(type="email", name="email", placeholder="E-mail", required)

  .form-group
    .col-sm-9.col-sm-offset-3
      .sign-up__form-btn_wr
        button.btn.btn-primary.sign-up__form-btn.btn-primary.pull-right(type="submit") Update
